<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="yandex-verification" content="93a314eeec3d95f0" />
    <meta name="description" content="GIFS — лучший сервис для создания и просмотра GIF анимации и коротких видео в Рунете.
Найти и скачать гифку в хорошем качестве, создать гиф, поделиться GIF в социальных сетях. Гифки открытки, живые картинки, крутые стикеры и смешные видео ждут Вас. Присоединяетесь к сообществу motion-дизайнеров на gifs.ru"/>
<!--    <link rel="shortcut icon" href="<%= BASE_URL %>favicon.ico" type="image/x-icon">-->
<!--    <link rel="shortcut icon" href="<%= BASE_URL %>favicon.svg" type="image/svg">-->

      <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>favicon-16x16.png">
      <link rel="manifest" href="<%= BASE_URL %>site.webmanifest">
    <title><%= htmlWebpackPlugin.options.title %></title>

      <!--    разметка Open Graph    -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="GIFS">
    <meta property="og:title" content="Гифки, Видео, GIF анимация, сообщество дизайнеров | GIFS">
    <meta property="og:description" content="GIFS — лучший сервис для создания и просмотра GIF анимации и коротких видео в Рунете.
Найти и скачать гифку в хорошем качестве, создать гиф, поделиться GIF в социальных сетях. Гифки открытки, живые картинки, крутые стикеры и смешные видео ждут Вас. Присоединяетесь к сообществу motion-дизайнеров на gifs.ru">
    <meta property="og:url" content="Гифки, Видео, GIF анимация, сообщество дизайнеров | GIFS">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:image" content="<%= BASE_URL %>banner_gifs.ru.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <!--      -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  </head>
  <body>
    <!-- Yandex.Metrika counter -->
      <script type="text/javascript" >
          (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
              m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
          (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

          ym(86254185, "init", {
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true,
              webvisor:true
          });
      </script>
      <noscript><div><img src="https://mc.yandex.ru/watch/86254185" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
