<template>
  <v-dialog
      v-model="showHelpPopup"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      scrollable
  >
    <v-container fill-height class="justify-start">
      <v-card width="100%" min-height="50%" >
        <v-toolbar
            flat
            color="rgb(125, 95, 238)"
            dark
            class="align-center"
        >
          <v-toolbar-title>Помощь</v-toolbar-title>
          <v-btn
              icon
              dark
              @click="showHelpPopup = false"
              class="close-btn help-close-btn">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-tabs
            vertical
            color="rgb(125, 95, 238)"
            v-model="help_tab"
            dark
            class="py-4 d-none d-lg-flex"
        >
          <v-tab
              v-for="tab in tabs_arr"
              :key="tab.name"
              class="justify-start"
              style="font-size: 12px; border-right: 2px solid rgba(255, 255, 255, 0.5)"
          >
           {{tab.name}}
          </v-tab>
          <v-tab-item v-for="item in tabs_arr" :key="item.description_body" :transition="false" :reverse-transition="false">
            <v-card flat class="px-4 help-head-card">
              <div class="title-section" v-html="item.description_title"></div>
              <div class="desc-section" v-html="item.description_body"></div>
            </v-card>
          </v-tab-item>
        </v-tabs>
        <v-tabs
            color="rgb(125, 95, 238)"
            v-model="help_tab"
            dark
            class="py-4 d-flex d-lg-none flex-wrap"
            show-arrows
        >
          <v-tab
              v-for="tab in tabs_arr"
              :key="tab.name"
              class="justify-start"
              style="font-size: 0.75rem;"
          >
            {{tab.name}}
          </v-tab>
          <v-tab-item v-for="item in tabs_arr" :key="item.description_body" :transition="false" :reverse-transition="false">
            <v-card flat class="px-4 pt-4 help-head-card">
              <div class="title-section" v-html="item.description_title"></div>
              <div class="desc-section" v-html="item.description_body"></div>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-container>
  </v-dialog>
</template>

<script>
export default {
  name: "HelpPage",
  props: {
    value: Boolean,
  },
  data: () => ({
    help_tab: null,
    tabs_arr: [
      {
        name: "О Нас",
        description_title: '<div class="help-title"><strong>О Нас</strong></div>',
        description_body: '<p style="text-indent: 1.5em;">В числе молодых людей, отправленных Петром Великим в чужие края, для приобретения сведений, необходимых государству преобразованному, находился его крестник, арап Ибрагим. Он обучался в парижском военном училище, выпущен был капитаном артиллерии, отличился в Испанской войне и, тяжело раненный, возвратился в Париж. Император посреди обширных своих трудов не преставал осведомляться о своем любимце и всегда получал лестные отзывы насчет его успехов и поведения. Петр был очень им доволен и неоднократно звал его в Россию, но Ибрагим не торопился. Он отговаривался различными предлогами, то раною, то желанием усовершенствовать свои познания, то недостатком в деньгах, и Петр снисходительствовал его просьбам, просил его заботиться о своем здоровии, благодарил за ревность к учению и, крайне бережливый в собственных своих расходах, не жалел для него своей казны, присовокупляя к червонцам отеческие советы и предостерегательные наставления.</p>'
      },
      {
        name: "Как загрузить GIF",
        description_title: '<div class="help-title"><strong>Как загрузить GIF</strong></div>',
        description_body: '<p>Мысль, что природа не создала его для взаимной страсти, избавила его от самонадеянности и притязаний самолюбия, что придавало редкую прелесть обращению его с женщинами. Разговор его был прост и важен; он понравился графине D., которой надоели вечные шутки и тонкие намеки французского остроумия. Ибрагим часто бывал у ней. Мало-помалу она привыкла к наружности молодого негра и даже стала находить что-то приятное в этой курчавой голове, чернеющей посреди пудреных париков ее гостиной. (Ибрагим был ранен в голову и вместо парика носил повязку.) Ему было двадцать семь лет от роду; он был высок и строен, и не одна красавица заглядывалась на него с чувством более лестным, нежели простое любопытство, но предубежденный Ибрагим или ничего не замечал, или видел одно кокетство. Когда же взоры его встречались со взорами графини, недоверчивость его исчезала. Ее глаза выражали такое милое добродушие, ее обхождение с ним было так просто, так непринужденно, что невозможно было в ней подозревать и тени кокетства или насмешливости.</p>'
      },
      {
        name: "Как создать GIF",
        description_title: '<div class="help-title"><strong>Как создать GIF</strong></div>',
        description_body: '<p>Любовь не приходила ему на ум, — а уже видеть графиню каждый день было для него необходимо. Он повсюду искал ее встречи, и встреча с нею казалась ему каждый раз неожиданной милостию неба. Графиня, прежде чем он сам, угадала его чувства. Что ни говори, а любовь без надежд и требований трогает сердце женское вернее всех расчетов обольщения. В присутствии Ибрагима графиня следовала за всеми его движениями, вслушивалась во все его речи; без него она задумывалась и впадала в обыкновенную свою рассеянность... Мервиль первый заметил эту взаимную склонность и поздравил Ибрагима. Ничто так не воспламеняет любви, как ободрительное замечание постороннего. Любовь слепа и, не доверяя самой себе, торопливо хватается за всякую опору. Слова Мервиля пробудили Ибрагима. Возможность обладать любимой женщиной доселе не представлялась его воображению; надежда вдруг озарила его душу; он влюбился без памяти. Напрасно графиня, испуганная исступлению его страсти, хотела противуставить ей увещания дружбы и советы благоразумия, она сама ослабевала. Неосторожные вознаграждения быстро следовали одно за другим. И наконец, увлеченная силою страсти, ею же внушенной, изнемогая под ее влиянием, она отдалась восхищенному Ибрагиму...</p>'
      },
      {
        name: "Настройки Личного Кабинета",
        description_title: '<div class="help-title"><strong>Настройки Личного Кабинета</strong></div>',
        description_body: '<p>Порою слабо брезжит в тумане. Прозоров на дверь постучась внимательней, Мой неизвестный Аристарх, неосторожно, Уложився в седую гриву, С невинною душой под лавкой дремлет, Склонив лиру к ветхим сводам, Призывает меня молиться по ночам. «Поди ж, милый мой, иди ж, – говорит он, — Ступай, ко спасенью моему, Но только в успокоенье душевное, Чтоб поскорее заснуть и отдохнуть". И, не смея дивиться, толкает меня в бока. Нимфа на легкоме дуновенье, Небось, несется с юга на восток. Степь дыми</p>'
      },
      {
        name: "Для художников и брендов",
        description_title: '<div class="help-title"><strong>Для художников и брендов</strong></div>',
        description_body: '<p>Роковая минута приближалась. Состояние графини было ужасно. Ибрагим каждый день был у нее. Он видел, как силы душевные и телесные постепенно в ней исчезали. Ее слезы, ее ужас возобновлялись поминутно. Наконец она почувствовала первые муки. Меры были приняты наскоро. Графа нашли способ удалить. Доктор приехал. Два дня перед сим уговорили одну бедную женщину уступить в чужие руки новорожденного своего младенца; за ним послали поверенного. Ибрагим находился в кабинете близ самой спальни, где лежала несчастная графиня. Не смея дышать, он слышал ее глухие стенанья, шепот служанки и приказанья доктора. Она мучилась долго. Каждый стон ее раздирал его душу; каждый промежуток молчания обливал его ужасом... вдруг он услыхал слабый крик ребенка и, не имея силы удержать своего восторга, бросился в комнату графини — черный младенец лежал на постеле в ее ногах. Ибрагим к нему приближился. Сердце его билось сильно. Он благословил сына дрожащею рукою. Графиня слабо улыбнулась и протянула ему слабую руку... но доктор, опасаясь для больной слишком сильных потрясений, оттащил Ибрагима от ее постели. Новорожденного положили в крытую корзину и вынесли из дому по потаенной лестнице. Принесли другого ребенка и поставили его колыбель в спальне роженицы. Ибрагим уехал немного успокоенный. Ждали графа. Он возвратился поздно, узнал о счастливом разрешении супруги и был очень доволен. Таким образом публика, ожидавшая соблазнительного шума, обманулась в своей надежде и была принуждена утешаться единым злословием.</p>'
      },
      {
        name: "Политика конфиденциальности",
        description_title: '<div class="help-title"><strong>Политика конфиденциальности персональных данных</strong></div>' +
            '<p>Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую сайт <strong>GIFS.RU</strong>, (далее – GIFS) расположенный на доменном имени https://gifs.ru (а также его субдоменах), может получить о Пользователе во время использования сайта https://gifs.ru (а также его субдоменов), его программ и его продуктов.</p>',
        description_body:
            '<div class="help-subTitle">1. Определение терминов</div>' +

            '<p><strong>1.1 В настоящей Политике конфиденциальности используются следующие термины:</strong></p>' +
            '<p>1.1.1. <strong>«Администрация сайта»</strong> (далее – Администрация) – уполномоченные сотрудники на управление сайтом <string>GIFS.RU</string>, действующие от имени ООО "Юникод", которые организуют и (или) осуществляют обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.</p>' +
            '<p>1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному, или определяемому физическому лицу (субъекту персональных данных).</p>' +
            '<p>1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>' +
            '<p>1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.</p>' +
            '<p>1.1.5. «Сайт <strong>GIFS.RU</strong>» - это совокупность связанных между собой веб-страниц, размещенных в сети Интернет по уникальному адресу (URL): <strong>https://gifs.ru</strong>, а также его субдоменах.</p>' +
            '<p>1.1.6. «Субдомены» - это страницы или совокупность страниц, расположенные на доменах третьего уровня, принадлежащие сайту GIFS.RU, а также другие временные страницы, внизу который указана контактная информация Администрации</p>' +
            '<p>1.1.7. «Пользователь сайта <strong>GIFS.RU</strong>» (далее Пользователь) – лицо, имеющее доступ к сайту GIFS.RU, посредством сети Интернет и использующее информацию, материалы и продукты сайта <strong>GIFS.RU</strong>.</p>' +
            '<p>1.1.8. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.</p>' +
            '<p>1.1.9. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, через который Пользователь получает доступ на GIFS.</p>' +
            '<p>1.1.10. «Товар » - продукт, который Пользователь заказывает на сайте и оплачивает через платёжные системы.</p>' +

            '<div class="help-subTitle">2. Общие положения</div>' +
            '<p>2.1. Использование сайта GIFS.RU Пользователем означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.</p>' +
            '<p>2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта GIFS.RU.</p>' +
            '<p>2.3. Настоящая Политика конфиденциальности применяется к сайту GIFS.RU. GIFS не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте GIFS.RU.</p>' +
            '<p>2.4. Администрация не проверяет достоверность персональных данных, предоставляемых Пользователем.</p>' +

            '<div class="help-subTitle">3. Предмет политики конфиденциальности</div>' +
            '<p>3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации при регистрации на сайте GIFS.RU, при подписке на информационную e-mail рассылку или при оформлении заказа.</p>' +

            '<p>3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения форм на сайте GIFS.RU и включают в себя следующую информацию:</p>' +
            '<ul>' +
            '<li>фамилию, имя, отчество Пользователя;</li>' +
            '<li>контактный телефон Пользователя;</li>' +
            '<li>адрес электронной почты (e-mail)</li>' +
            '<li>место жительство Пользователя (при необходимости)</li>' +
            '<li>адрес доставки Товара (при необходимости)</li>' +
            '<li>фотографию (при необходимости).</li>' +
            '</ul>' +

            '<p>3.3. GIFS защищает Данные, которые автоматически передаются при посещении страниц:</p>' +
            '<ul>' +
            '<li>IP адрес;</li>' +
            '<li>информация из cookies;</li>' +
            '<li>информация о браузере;</li>' +
            '<li>время доступа;</li>' +
            '<li>реферер (адрес предыдущей страницы).</li>' +
            '</ul>' +

            '<p>3.3.1. Отключение cookies может повлечь невозможность доступа к частям сайта , требующим авторизации.</p>' +
            '<p>3.3.2. GIFS осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью предотвращения, выявления и решения технических проблем.</p>' +
            '<p>3.4. Любая иная персональная информация неоговоренная выше (история посещения, используемые браузеры, операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.</p>' +

            '<div class="help-subTitle">4. Цели сбора персональной информации пользователя</div>' +
            '<p>4.1. Персональные данные Пользователя Администрация может использовать в целях:</p>' +
            '<ul>' +
            '<li>4.1.1. Идентификации Пользователя, зарегистрированного на сайте GIFS.RU для его дальнейшей авторизации, оформления заказа и других действий.</li>' +
            '<li>4.1.2. Предоставления Пользователю доступа к персонализированным данным сайта GIFS.RU.</li>' +
            '<li>4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования сайта GIFS.RU, оказания услуг и обработки запросов и заявок от Пользователя.</li>' +
            '<li>4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.</li>' +
            '<li>4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.</li>' +
            '<li>4.1.6. Создания учетной записи для использования частей сайта GIFS.RU, если Пользователь дал согласие на создание учетной записи.</li>' +
            '<li>4.1.7. Уведомления Пользователя по электронной почте.</li>' +
            '<li>4.1.8. Предоставления Пользователю эффективной технической поддержки при возникновении проблем, связанных с использованием сайта GIFS.RU.</li>' +
            '<li>4.1.9. Предоставления Пользователю с его согласия специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени сайта GIFS.RU.</li>' +
            '<li>4.1.10. Осуществления рекламной деятельности с согласия Пользователя.</li>' +
            '</ul>' +

            '<div class="help-subTitle">5. Способы и сроки обработки персональной информации</div>' +
            '<p>5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.</p>' +
            '<p>5.2. Пользователь соглашается с тем, что Администрация вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи (в том числе электронной), операторам электросвязи, исключительно в целях выполнения заказа Пользователя, оформленного на сайте GIFS.RU, включая доставку Товара, документации или e-mail сообщений.</p>' +
            '<p>5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.</p>' +
            '<p>5.4. При утрате или разглашении персональных данных Администрация вправе не информировать Пользователя об утрате или разглашении персональных данных.</p>' +
            '<p>5.5. Администрация принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.</p>' +
            '<p>5.6. Администрация совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.</p>' +

            '<div class="help-subTitle">6. Права и обязанности сторон</div>' +
            '<p>6.1. Пользователь вправе:</p>' +
            '<ul>' +
            '<li>Принимать свободное решение о предоставлении своих персональных данных, необходимых для использования сайта GIFS.RU, и давать согласие на их обработку.</li>' +
            '<li>Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.</li>' +
            '<li>Пользователь имеет право на получение у Администрации информации, касающейся обработки его персональных данных, если такое право не ограничено в соответствии с федеральными законами. Пользователь вправе требовать от Администрации уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав.</li>' +
            '</ul>' +

            '<p>6.2. Администрация обязана:</p>' +
            '<ul>' +
            '<li>Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.</li>' +
            '<li>Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2 и 5.3. настоящей Политики Конфиденциальности.</li>' +
            '<li>Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.</li>' +
            '<li>Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя, или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.</li>' +
            '</ul>' +

            '<div class="help-subTitle">7. Ответственность сторон</div>' +
            '<p>7.1. Администрация, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.</p>' +
            '<p>7.2. В случае утраты или разглашения Конфиденциальной информации Администрация не несёт ответственность, если данная конфиденциальная информация:</p>' +
            '<ul>' +
            '<li>Стала публичным достоянием до её утраты или разглашения.</li>' +
            '<li>Была получена от третьей стороны до момента её получения Администрацией Ресурса.</li>' +
            '<li>Была разглашена с согласия Пользователя.</li>' +
            '</ul>' +

            '<p>7.3. Пользователь несет полную ответственность за соблюдение требований законодательства РФ, в том числе законов о рекламе, о защите авторских и смежных прав, об охране товарных знаков и знаков обслуживания, но не ограничиваясь перечисленным, включая полную ответственность за содержание и форму материалов.</p>' +
            '<p>7.4. Пользователь признает, что ответственность за любую информацию (в том числе, но не ограничиваясь: файлы с данными, тексты и т. д.), к которой он может иметь доступ как к части сайта GIFS.RU, несет лицо, предоставившее такую информацию.</p>' +
            '<p>7.5. Пользователь соглашается, что информация, предоставленная ему как часть сайта GIFS.RU, может являться объектом интеллектуальной собственности, права на который защищены и принадлежат другим Пользователям, партнерам или рекламодателям, которые размещают такую информацию на сайте GIFS.RU. \n' +
            'Пользователь не вправе вносить изменения, передавать в аренду, передавать на условиях займа, продавать, распространять или создавать производные работы на основе такого Содержания (полностью или в части), за исключением случаев, когда такие действия были письменно прямо разрешены собственниками такого Содержания в соответствии с условиями отдельного соглашения.</p>' +
            '<p>7.6. В отношение текстовых материалов (статей, публикаций, находящихся в свободном публичном доступе на сайте GIFS.RU) допускается их распространение при условии, что будет дана ссылка на GIFS.</p>' +
            '<p>7.7. Администрация не несет ответственности перед Пользователем за любой убыток или ущерб, понесенный Пользователем в результате удаления, сбоя или невозможности сохранения какого-либо Содержания и иных коммуникационных данных, содержащихся на сайте GIFS.RU или передаваемых через него.</p>' +
            '<p>7.8. Администрация не несет ответственности за любые прямые или косвенные убытки, произошедшие из-за: использования либо невозможности использования сайта, либо отдельных сервисов; несанкционированного доступа к коммуникациям Пользователя; заявления или поведение любого третьего лица на сайте.</p>' +
            '<p>7.9. Администрация не несет ответственность за какую-либо информацию, размещенную пользователем на сайте GIFS.RU, включая, но не ограничиваясь: информацию, защищенную авторским правом, без прямого согласия владельца авторского права.</p>' +

            '<div class="help-subTitle">8. Разрешение споров</div>' +
            '<p>8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем и Администрацией, обязательным является предъявление претензии (письменного предложения или предложения в электронном виде о добровольном урегулировании спора).</p>' +
            '<p>8.2. Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно или в электронном виде уведомляет заявителя претензии о результатах рассмотрения претензии.</p>' +
            '<p>8.3. При не достижении соглашения спор будет передан на рассмотрение Арбитражного суда г. Москва.</p>' +
            '<p>8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией применяется действующее законодательство Российской Федерации.</p>' +
            '<div class="help-subTitle">9. Дополнительные условия</div>' +
            '<p>9.1. Администрация вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.</p>' +
            '<p>9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на сайте GIFS.RU, если иное не предусмотрено новой редакцией Политики конфиденциальности.</p>' +
            '<p>9.3. Все предложения или вопросы касательно настоящей Политики конфиденциальности следует сообщать по адресу: info@gifs.ru</p>' +
            '<p>9.4. Действующая Политика конфиденциальности размещена на странице по адресу http://https://gifs.ru/politika.html</p>' +
            '<br>' +
            '<p>Обновлено: 08 Января 2022 года</p>' +
            '<p>г. Москва</p>'
      },
      {
        name: "Пользовательское соглашение",
        description_title: '<div class="help-title"><strong>Пользовательское соглашение</strong></div>',
        description_body:
            '<div class="help-subTitle">1. Общие положения</div>' +
            '<p>1.1. Настоящее Пользовательское соглашение (далее – Соглашение) относится к сайту Gifs.ru расположенному по адресу https://gifs.ru, и ко всем соответствующим сайтам, связанным с сайтом gifs.ru и гифки.рф</p>' +
            '<p>1.2. Настоящее Соглашение регулирует отношения между Администрацией Сайта развлекательного портала «www.gifs.ru» (далее – Администрация Cайта) и Пользователем данного Сайта.</p>' +
            '<p>1.3. Администрация Cайта оставляет за собой право в любое время изменять, добавлять или удалять пункты настоящего Соглашения без уведомления Пользователя.</p>' +
            '<p>1.4. Продолжение использования Сайта Пользователем означает принятие Соглашения и изменений, внесенных в настоящее Соглашение.</p>' +
            '<p>1.5. Пользователь несет персональную ответственность за проверку настоящего Соглашения на наличие изменений в нем.</p>' +

            '<div class="help-subTitle">2. Определения терминов</div>' +
            '<p>2.1. Перечисленные ниже термины имеют для целей настоящего Соглашения следующее значение:</p>' +
            '<ul>' +
            '<li>«Gifs» – развлекательный портал, расположенный на доменном имени www.gifs.ru, осуществляющий свою деятельность посредством Интернет-ресурса и сопутствующих ему сервисов.</li>' +
            '<li>Развлекательный портал www.gifs.ru, содержащий информацию о Товарах, Услугах, Продавце, позволяющий осуществить выбор, заказ и (или) приобретение Товара или Услуги.</li>' +
            '<li>Администрация сайта развлекательного портала www.gifs.ru – уполномоченные сотрудники на управления Сайтом, действующие от имени название организации.</li>' +
            '<li>Пользователь сайта (далее Пользователь) – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт.</li>' +
            '<li>Содержание Cайта развлекательного портала www.gifs.ru (далее – Содержание) - охраняемые результаты интеллектуальной деятельности, включая тексты литературных произведений, их названия, предисловия, аннотации, статьи, иллюстрации, обложки, музыкальные произведения с текстом или без текста, графические, текстовые, фотографические, gif анимация, производные, составные и иные произведения, пользовательские интерфейсы, визуальные интерфейсы, названия товарных знаков, логотипы, программы для ЭВМ, базы данных, а также дизайн, структура, выбор, координация, внешний вид, общий стиль и расположение данного Содержания, входящего в состав Сайта и другие объекты интеллектуальной собственности все вместе и/или по отдельности, содержащиеся на сайте Сайта.</li>' +
            '</ul>' +

            '<div class="help-subTitle">3.\tПредмет соглашения</div>' +
            '<p>3.1.\tПредметом настоящего Соглашения является предоставление Пользователю доступа к содержащимся на Сайте Товарам и оказываемым услугам.</p>' +
            '<p>3.1.1.\tАдминистрация Cайта предоставляет Пользователю следующие виды услуг (сервисов):</p>' +
            '<ul>' +
            '<li>доступ к электронному контенту на платной основе, с правом приобретения (скачивания), просмотра контента;</li>' +
            '<li>доступ к средствам поиска и навигации Сайта;</li>' +
            '<li>предоставление Пользователю возможности размещения сообщений, комментариев, рецензий Пользователей, выставления оценок контенту Сайта;</li>' +
            '<li>доступ к информации о Товаре и к информации о приобретении Товара на платной основе;</li>' +
            '<li>иные виды услуг (сервисов), реализуемые на страницах Сайта.</li>' +
            '</ul>' +
            '<p>3.2.\tПод действие настоящего Соглашения подпадают все существующие (реально функционирующие) на данный момент услуги (сервисы) Сайта, а также любые их последующие модификации и появляющиеся в дальнейшем дополнительные услуги (сервисы) Сайта.</p>' +
            '<p>3.3.\tДоступ к Сайту предоставляется на ежедневной основе.</p>' +
            '<p>3.4.\tНастоящее Соглашение является публичной офертой. Получая доступ к Сайту, Пользователь считается присоединившимся к настоящему Соглашению.</p>' +
            '<p>3.5.\tИспользование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.</p>' +

            '<div class="help-subTitle">4.\tПрава и обязанности сторон</div>' +
            '<p>4.1.\t<strong>Администрация сайта вправе:</strong></p>' +
            '<ul>' +
            '<li>Изменять правила пользования Сайтом, а также изменять содержание данного Сайта. Изменения вступают в силу с момента публикации новой редакции Соглашения на Сайте.</li>' +
            '<li>Ограничить доступ к Сайту в случае нарушения Пользователем условий настоящего Соглашения.</li>' +
            '<li>Изменять размер оплаты, взимаемый за предоставление доступа к использованию сайта. Изменение стоимости не будет распространяться на Пользователей, имеющих регистрацию к моменту изменения размера оплаты, за исключением случаев, особо оговоренных Администрацией сайта.</li>' +
            '</ul>' +
            '<p>4.2\tПользователь вправе:</p>' +
            '<ul>' +
            '<li>Получить доступ к использованию Сайта после соблюдения требований о регистрации оплате.</li>' +
            '<li>Пользоваться всеми имеющимися на Сайте услугами, а также приобретать любые Товары, предлагаемые на Сайте.</li>' +
            '<li>Задавать любые вопросы, относящиеся к услугам Сайта по электронной почте info@gifs.ru</li>' +
            '<li>Пользоваться Сайтом исключительно в целях и порядке, предусмотренных Соглашением и не запрещенных законодательством Российской Федерации.</li>' +
            '</ul>' +
            '<p>4.3.\tПользователь Сайта обязуется:</p>' +
            '<p>4.3.1. Предоставлять по запросу Администрации сайта дополнительную информацию, которая имеет непосредственное отношение к предоставляемым услугам данного Сайта.</p>' +
            '<p>4.3.2. Соблюдать имущественные и неимущественные права авторов и иных правообладателей при использовании Сайта.</p>' +
            '<p>4.3.3. Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную работу Сайта.</p>' +
            '<p>4.3.4. Не распространять с использованием Сайта любую конфиденциальную и охраняемую законодательством Российской Федерации информацию о физических либо юридических лицах.</p>' +
            '<p>4.3.5. Избегать любых действий, в результате которых может быть нарушена конфиденциальность охраняемой законодательством Российской Федерации информации.</p>' +
            '<p>4.3.6. Не использовать Сайт для распространения информации рекламного характера, иначе как с согласия Администрации сайта.</p>' +
            '<p>4.3.7. Не использовать сервисы сайта с целью:</p>' +
            '<ul>' +
            '<li>загрузки контента, который является незаконным, нарушает любые права третьих лиц; пропагандирует насилие, жестокость, ненависть и (или) дискриминацию по расовому, национальному, половому, религиозному, социальному признакам; содержит недостоверные сведения и (или) оскорбления в адрес конкретных лиц, организаций, органов власти.</li>' +
            '<li>побуждения к совершению противоправных действий, а также содействия лицам, действия которых направлены на нарушение ограничений и запретов, действующих на территории Российской Федерации.</li>' +
            '<li>нарушения прав несовершеннолетних лиц и (или) причинение им вреда в любой форме.</li>' +
            '<li>ущемления прав меньшинств.</li>' +
            '<li>представления себя за другого человека или представителя организации и (или) сообщества без достаточных на то прав, в том числе за сотрудников данного Сайта.</li>' +
            '<li>введения в заблуждение относительно свойств и характеристик какого-либо Товара из каталога Сайта, размещенного на Сайте.</li>' +
            '<li>некорректного сравнения Товара, а также формирования негативного отношения к лицам, (не) пользующимся определенными Товарами, или осуждения таких лиц.</li>' +
            '</ul>' +
            '<p>4.4. Пользователю запрещается:</p>' +
            '<p>4.4.1. Использовать любые устройства, программы, процедуры, алгоритмы и методы, автоматические устройства или эквивалентные ручные процессы для доступа, приобретения, копирования или отслеживания содержания Сайта;</p>' +
            '<p>4.4.2. Нарушать надлежащее функционирование Сайта;</p>' +
            '<p>4.4.3. Любым способом обходить навигационную структуру Сайта для получения или попытки получения любой информации, документов или материалов любыми средствами, которые специально не представлены сервисами данного Сайта;</p>' +
            '<p>4.4.4. Несанкционированный доступ к функциям Сайта, любым другим системам или сетям, относящимся к данному Сайту, а также к любым услугам, предлагаемым на Сайте;</p>' +
            '<p>4.4.5. Нарушать систему безопасности или аутентификации на Сайте или в любой сети, относящейся к Сайту.</p>' +
            '<p>4.4.6. Выполнять обратный поиск, отслеживать или пытаться отслеживать любую информацию о любом другом Пользователе Сайта.</p>' +
            '<p>4.4.7. Использовать Сайт и его Содержание в любых целях, запрещенных законодательством Российской Федерации, а также подстрекать к любой незаконной деятельности или другой деятельности, нарушающей права Сайта или других лиц.</p>' +

            '<div class="help-subTitle">5.\tИспользование сайта</div>' +
            '<p>5.1.\tСайт и Содержание, входящее в состав Сайта, принадлежит и управляется Администрацией сайта.</p>' +
            '<p>5.2.\tСодержание Сайта не может быть скопировано, опубликовано, воспроизведено, передано или распространено любым способом, а также размещено в глобальной сети «Интернет» без предварительного письменного согласия Администрации сайта.</p>' +
            '<p>5.3.\tСодержание Сайта защищено авторским правом, законодательством о товарных знаках, а также другими правами, связанными с интеллектуальной собственностью, и законодательством о недобросовестной конкуренции.</p>' +
            '<p>5.4.\tПриобретение Товара или услуги, предлагаемого на Сайте, может потребовать создания учётной записи Пользователя.</p>' +
            '<p>5.5.\tПользователь несет персональную ответственность за сохранение конфиденциальности информации учётной записи, включая пароль, а также за всю без исключения деятельность, которая ведётся от имени Пользователя учётной записи.</p>' +
            '<p>5.6.\tПользователь должен незамедлительно уведомить Администрацию сайта о несанкционированном использовании его учётной записи или пароля или любом другом нарушении системы безопасности.</p>' +
            '<p>5.7.\tАдминистрация сайта обладает правом в одностороннем порядке аннулировать учетную запись Пользователя, если она не использовалась более количество месяцев календарных месяцев подряд без уведомления Пользователя.</p>' +
            '<p>5.8.\tНастоящее Соглашение распространяет свое действия на все дополнительные положения и условия о покупке Товара и оказанию услуг, предоставляемых на Сайте.</p>' +
            '<p>5.9.\tИнформация, размещаемая на Сайте не должна истолковываться как изменение настоящего Соглашения.</p>' +
            '<p>5.10.\tАдминистрация сайта имеет право в любое время без уведомления Пользователя вносить изменения в перечень Товаров и услуг, предлагаемых на Сайте, и (или) в цены, применимые к таким Товарам по их реализации и (или) оказываемым услугам Сайта.</p>' +
            '<p>5.11.\tДокументы, указанные в пунктах 5.10.1 - 5.10.4 настоящего Соглашения регулируют в соответствующей части и распространяют свое действие на использование Пользователем Сайта. В настоящее Соглашение включены следующие документы:</p>' +
            '<ul>' +
            '<li>1.\tПолитика конфиденциальности;</li>' +
            '<li>2.\tДоговор купли-продажи товаров дистанционным способом;</li>' +
            '<li>3.\tЗаявка на оформление заказа;</li>' +
            '<li>4.\tПредложения и замечания.</li>' +
            '</ul>' +
            '<p>5.12.\tЛюбой из документов, перечисленных в пункте 5.10. настоящего Соглашения может подлежать обновлению. Изменения вступают в силу с момента их опубликования на Сайте.</p>' +

            '<div class="help-subTitle">6.\tОтветственность</div>' +
            '<p>6.1. Любые убытки, которые Пользователь может понести в случае умышленного или неосторожного нарушения любого положения настоящего Соглашения, а также вследствие несанкционированного доступа к коммуникациям другого Пользователя, Администрацией сайта не возмещаются.</p>' +
            '<p>6.2. Администрация сайта не несет ответственности за:</p>' +
            '<ul>' +
            '<li>Задержки или сбои в процессе совершения операции, возникшие вследствие непреодолимой силы, а также любого случая неполадок в телекоммуникационных, компьютерных, электрических и иных смежных системах.</li>' +
            '<li>Действия систем переводов, банков, платежных систем и за задержки, связанные с их работой.</li>' +
            '<li>Надлежащее функционирование Сайта, в случае если Пользователь не имеет необходимых технических средств для его использования, а также не несет никаких обязательств по обеспечению пользователей такими средствами.</li>' +
            '</ul>' +

            '<div class="help-subTitle">7.\tНарушение условий пользовательского соглашения</div>' +
            '<p>7.1.\tАдминистрация сайта вправе раскрыть любую собранную о Пользователе данного Сайта информацию, если раскрытие необходимо в связи с расследованием или жалобой в отношении неправомерного использования Сайта либо для установления (идентификации) Пользователя, который может нарушать или вмешиваться в права Администрации сайта или в права других Пользователей Сайта.</p>' +
            '<p>7.2.\tАдминистрация сайта имеет право раскрыть любую информацию о Пользователе, которую посчитает необходимой для выполнения положений действующего законодательства или судебных решений, обеспечения выполнения условий настоящего Соглашения, защиты прав или безопасности название организации, Пользователей.</p>' +
            '<p>7.3.\tАдминистрация сайта имеет право раскрыть информацию о Пользователе, если действующее законодательство Российской Федерации требует или разрешает такое раскрытие.</p>' +
            '<p>7.4.\tАдминистрация сайта вправе без предварительного уведомления Пользователя прекратить и (или) заблокировать доступ к Сайту, если Пользователь нарушил настоящее Соглашение или содержащиеся в иных документах условия пользования Сайтом, а также в случае прекращения действия Сайта либо по причине технической неполадки или проблемы.</p>' +
            '<p>7.5.\tАдминистрация сайта не несет ответственности перед Пользователем или третьими лицами за прекращение доступа к Сайту в случае нарушения Пользователем любого положения настоящего Соглашения или иного документа, содержащего условия пользования Сайтом.</p>' +

            '<div class="help-subTitle">8.\tРазрешение споров</div>' +
            '<p>8.1.\tВ случае возникновения любых разногласий или споров между Сторонами настоящего Соглашения обязательным условием до обращения в суд является предъявление претензии (письменного предложения о добровольном урегулировании спора).</p>' +
            '<p>8.2.\tПолучатель претензии в течение 30 календарных дней со дня ее получения, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.</p>' +
            '<p>8.3.\tПри невозможности разрешить спор в добровольном порядке любая из Сторон вправе обратиться в суд за защитой своих прав, которые предоставлены им действующим законодательством Российской Федерации.</p>' +
            '<p>8.4.\tЛюбой иск в отношении условий использования Сайта должен быть предъявлен в течение срок после возникновения оснований для иска, за исключением защиты авторских прав на охраняемые в соответствии с законодательством материалы Сайта. При нарушении условий данного пункта любой иск или основания для иска погашаются исковой давностью.</p>' +
            '<div class="help-subTitle">9.\tДополнительные условия</div>' +
            '<p>9.1.\tАдминистрация сайта не принимает встречные предложения от Пользователя относительно изменений настоящего Пользовательского соглашения.</p>' +
            '<p>9.2.\tОтзывы Пользователя, размещенные на Сайте, не являются конфиденциальной информацией и могут быть использованы Администрацией сайта без ограничений.</p>'
      },
      {
        name: "Защита авторских прав",
        description_title: '<div class="help-title"><strong>Защита авторских прав</strong></div>',
        description_body:
            '<div class="help-subTitle">Регламент рассмотрения заявлений правообладателей (и/или уполномоченное правообладателем лицо), связанных с размещением пользователями контента на сайте gifs.ru</div>' +
            '<p>1.\tНастоящий Регламент рассмотрения заявлений правообладателей (и/или уполномоченных правообладателем лицом), связанных с размещением пользователями контента на сайте «gifs.ru» (далее — «Регламент») формализует отношения между:</p>' +
            '<p>Правообладателями (юридические или физические лица, являющиеся владельцами исключительного права использования аудиовизуального произведения и/или контента (в целом либо его отдельных элементов; а также с оговоркой, предусмотренной пунктом (е) настоящего раздела Регламента), в том числе из числа предоставивших Администрации оригинальные материалы аудиовизуальных произведений, право использования, которых им принадлежит, в рамках взаимодействия и сотрудничества, в том числе в целях защиты принадлежащих Правообладателям прав использования указанных аудиовизуальных произведений и/или контента (далее – «Правообладатель» или «Заявитель»), и Администрацией Сайта, соответственно), предоставляющей неограниченному кругу лиц возможность загружать, размещать, хранить, просматривать, промотировать и осуществлять иные действия в отношении Контента (аудио, видео и иные мультимедийные материалы, в том числе аудиовизуальные произведения, GIF -файлы, графические и текстовые материалы, в том числе юзерпики, комментарии, тексты и пр., загруженные/ размещенные, и физическим лицом, использующим какие-либо из данных возможностей Сайта «gifs.ru» (далее — «Пользователь»)).</p>' +
            '<p>2.\tАдминистрация безоговорочно уважает права Авторов и Правообладателей, и последовательно придерживается принципов активного сотрудничества с Правообладателями (действующими в свою очередь добросовестно и на законных основаниях) и содействия развития легитимной интернет-среды, в которой создаются условия, препятствующие нарушению исключительных прав, а также последовательно призывает Пользователей уважительно относится к интеллектуальной собственности Правообладателей, и не допускать незаконного использования объектов интеллектуальных прав.</p>' +
            '<p>Во исполнение указанных принципов, Пользовательское Соглашение Сайта «gifs.ru», размещенное в разделе ПОМОЩЬ по адресу в сети Интернет https://gifs.ru, содержит соответствующие условия о запрете размещения и иного незаконного использования объектов интеллектуальных прав с использованием Сайта, при нарушении которого Администрация вправе в одностороннем порядке прекратить доступ пользователей к Сайту и его сервисам.</p>' +
            '<p>3.\tЛицо, выступающее от имени Правообладателя, и обладающее только неисключительными лицензиями на использование аудиовизуальных произведений и/или Контента, размещение которых на Сайте, по мнению такого лица, является незаконным, помимо документов и информации, предусмотренных настоящим Регламентом, обязуется предоставить Администрации надлежащее документальное подтверждение, удостоверяющее такое полномочие представления интересов Правообладателя.</p>' +
            '<div class="help-subTitle">1.\tОбщие положения</div>' +
            '<p>1.\tНастоящий Регламент, является официальным документом Администрации и определяет политику Администрации в отношении урегулирования конфликтов, возникающих в связи с Контентом, размещенным Пользователями на Сайте, а также определяет права и обязанности Администрации, третьих лиц (и, если применимо, Пользователей Сайта) в процессе урегулирования такого рода конфликтов.</p>' +
            '<p>2.\tПри обнаружении Правообладателем (или лицом, представляющим его интересы) на Сайте Контента, права на использование которого принадлежат Правообладателю, и использование которого, по мнению Правообладателя, является незаконным, то Правообладателю необходимо руководствоваться положениями настоящего Регламента. В отсутствие необходимого объема информации о предполагаемом нарушении и принадлежности прав Правообладателю, Администрация не сможет должным образом отреагировать на заявление Правообладателя.</p>' +
            '<p>3.\tИспользование Сайта https://gifs.ru (включая мобильные приложения),  регулируется Пользовательским Соглашением Сайта «gifs.ru» настоящим Регламентом, Политикой конфиденциальности и прочими правилами официально размещаемыми на Сайте и его подразделах.</p>' +
            '<p>4.\tПри рассмотрении заявлений в соответствии с настоящим Регламентом Администрация придерживается принципов:</p>' +
            '<ul>' +
            '<p><strong>4.1.\tЗаконности и Содействия развития легитимной интернет-среды, в которой создаются условия, препятствующие нарушению исключительных прав:</strong></p>' +
            '<ul>' +
            '<p>При этом Администрация и Правообладатели (и лица, выступающие от их имени), должны всецело осознавать, что на Информационного посредника, в силу его статуса, не возложена законом обязанность осуществлять мониторинг информации, которая размещается, передается или хранится Пользователями на Сайте, а также осуществлять активный поиск фактов или последствий, указывающих на нелегальную деятельность. Более того, Администрация не вправе принимать на себя функции правоохранительных либо судебных органов и объективно не в состоянии оценить, размещение того или иного Контента Пользователями на Сайте на предмет законности и не нарушения прав третьих лиц. В случае возникновения спорной ситуации и невозможностью ее урегулирования в рамках настоящего Регламента, Заявителю необходимо руководствоваться действующими положениями применимого российского законодательства.</p>' +
            '<p>В случае, получения соответствующего официального запроса от Правообладателей и/или уполномоченных государственных органов с информацией о: «1) доменных именах и (или) указателях страниц сайтов в сети «Интернет», содержащих информацию, распространение которой в Российской Федерации запрещено; 2) сетевых адресах, позволяющих идентифицировать сайты в сети «Интернет», содержащие информацию, распространение которой в Российской Федерации запрещено», Администрация в порядке и сроки предусмотренные действующим законодательством и настоящим Регламентом (если это применимо), ограничивает доступ к таким информационным ресурсам, на которых размещена распространяемая с нарушением закона информация по ссылкам указанным такими заявителями.</p>' +
            '</ul>' +
            '<p><strong>4.2.\tПрезумпции добросовестности Пользователей</strong></p>' +
            '</ul>' +
            '<p>4.2.1.\tАдминистрация, уважая права Пользователей, предполагает, что Пользователь, размещая Контент на Gifs.ru и осуществляя его дальнейшее использование, гарантирует, что такие действия не нарушают личных или имущественных прав третьих лиц, включая, но не ограничиваясь, авторские, смежные, патентные права, право на неприкосновенность частной жизни, на защиту чести, достоинства и доброго имени, право на изображение гражданина и т.д., и что такие действия не причиняют вред, не содержат угрозы, нецензурную брань, грубые и оскорбительные выражения и предложения, противоречащие общепризнанным нормам морали и пр. При этом, к сожалению, Администрация не может исключать, что Пользователи имеют возможность эпизодически по собственному желанию, с помощью Сайта, без ведома Администрации, незаконно хранить, передавать, распространять и предоставлять доступ к информации и объектам интеллектуальной собственности.</p>' +
            '<p>4.2.2.\tВ случае если Правообладатель полагает, что размещенный на Сайте Контент нарушает их права и законные интересы, то качестве превентивной меры Администрация рекомендует такому Правообладателю, напрямую обращаться к Пользователям, разместившим спорный Контент (при наличии соответствующей возможности), что безусловно не препятствует Правообладателю обратиться с заявлением непосредственно к Администрации в порядке, предусмотренном настоящим Регламентом; а для Правообладателей (или член ассоциации (союза)), являющихся участниками Меморандума, обладающих правом использовать соответствующий Контент, к Держателю Реестра указателей страниц сайтов в сети «Интернет», на которых без разрешения правообладателя или иного законного основания размещаются (используются) аудиовизуальные произведения или информация, необходимая для их получения с использованием информационно-телекоммуникационных сетей, в том числе сети «Интернет», строго в порядке, предусмотренном Меморандумом.</p>' +
            '<p><strong>4.3.\tПрезумпции добросовестности Правообладателей</strong></p>' +
            '<p>4.3.1.\tПравообладатели при направлении соответствующих заявлений об обнаружении предполагаемого факта нарушения их прав, обязуются действовать добросовестно, в том числе обязуются указывать в заявлениях достоверную информацию о наличии прав в отношении аудиовизуальных произведений и о том, что Контент или информация, необходимая для его получения, размещаются (используются) без разрешения правообладателей и, как они добросовестно полагают, без иного законного основания.</p>' +
            '<p>4.3.2.\tПроцедура рассмотрения заявлений, предусмотренная настоящим Регламентом, не должна использоваться с целью создания препятствий для законного распространения Контента. Правообладатель подающий заявление Администрации признает и подтверждает, что Контент, в отношении которого подается заявление, был размещен на Сайте Пользователем Сайта незаконно.</p>' +
            '<p>4.3.3.\tВ случае предъявления третьим лицом к Администрации требований и (или) претензии в связи с неправомерной подачей Правообладателем заявления, такой Правообладатель обязан будет за свой счет урегулировать такие требования (претензию), а в случае невозможности урегулирования таких требований (претензии) и предъявления третьим лицом иска к Администрации, обязан принять участие в деле на стороне Администрации и, если судом с Администрации будут взысканы убытки, причиненные действиями Правообладателя, то такой Правообладатель обязан незамедлительно возместить Администрации сумму любых убытков (прямых и косвенных), а также возместить судебные расходы в разумных пределах, понесенные Администрацией на участие в данном судебном разбирательстве, и потери в порядке, предусмотренном ст. 406.1 Гражданского кодекса Российской Федерации в связи с рассмотрением Администрацией заявления Правообладателя.</p>' +
            '<p>4.3.4.\tПравообладатель (или член ассоциации (союза)) - участник Меморандума, обладающий правом использовать аудиовизуальное произведение, обязуется строго соблюдать процедуру подачи заявления о нарушении авторских и (или) смежных прав, предусмотренную Меморандумом. Любое нарушение согласованной Меморандумом процедуры, дает право Администрации отклонить заявление такого Правообладателя. <br> А в случае обращения Правообладателя (или члена ассоциации (союза)) - участника Меморандума, обладающего правом использовать аудиовизуальное произведение, в суд в отношении Администрации с заявлением о предварительном обеспечении защиты авторских и (или) смежных прав в сети «Интернет» или с исковым заявлением о защите авторских и (или) смежных прав в сети «Интернет» по вопросу о защите прав на аудиовизуальное произведение и/или Контент (и/или иным подобным иском/ заявлением), минуя процедуру обращения с Заявлением, предусмотренную Меморандумом, Администрация вправе прекратить исполнение обязанностей, предусмотренных Меморандумом, в отношении такого Правообладателя (пункт 10.1. Меморандума).</p>' +

            '<div class="help-subTitle">2.\tЗаявление о размещении Контента с нарушением закона</div>' +
            '<p>2.1.\tЛюбой надлежащий Правообладатель объектов авторских или смежных прав (далее – Заявитель), в случае обнаружения на Сайте Контента, размещенного Пользователями без разрешения Правообладателя или иного законного основания, вправе обратиться к Администрации с заявлением о нарушении его авторских и (или) смежных прав на Контент.</p>' +
            '<p>2.2.\tЗаявление подается к Администрации Заявителем, путем обращения к Администрации по электронной почте по адресу support@gifs.ru</p>' +
            '<p>2.3.\tОбращение с заявлением о нарушении прав и законных интересов Заявителя к Администрации должно быть аргументированно и содержать следующую достоверную информацию обязательную к указанию:</p>' +
            '<ul>' +
            '<p>2.3.1.\tНаименование заявителя (с указанием организационно-правовой формы), основной государственный регистрационный номер, адрес, контактную информацию (номера телефона и (или) факса, адрес электронной почты) – для заявителя – юридического лица.</p>' +
            '<p>2.3.2.\tФамилию, имя, отчество (при наличии) заявителя, паспортные данные (серия и номер паспорта, кем выдан, дата выдачи), контактную информацию (номера телефона и (или) факса, адрес электронной почты) – для заявителя – физического лица.</p>' +
            '<p>2.3.3.\tЗаявитель, являющийся Правообладателем (или членом ассоциации (союза)) - участником Меморандума, обладающим правом использовать аудиовизуальное произведение, должен в обязательном порядке указать свой статус в контексте Меморандума.</p>' +
            '<p>2.3.4.\tИнформацию об аудиовизуальном произведении, размещённом (используемом) (или необходимая для получения которого, информация размещена) на сайте в сети «Интернет», по мнению заявителя, без разрешения правообладателя или иного законного основания.</p>' +
            '<p>2.3.5.\tУказатель страницы сайта в сети «Интернет», содержащей аудиовизуальное произведение (его фрагмент) или информацию, необходимую для его получения, размещённые, по мнению заявителя, правомерно.</p>' +
            '<p>2.3.6.\tУказатель страницы сайта в сети «Интернет» (т.е. URL-адрес страницы Сайта), содержащей аудиовизуальное произведение или информацию, необходимую для его получения, размещенные (используемые), по мнению заявителя, без разрешения правообладателя или иного законного основания. Одно Заявление может содержать указатели нескольких страниц сайта (сайтов) в сети «Интернет», на которых размещено (используется) аудиовизуальное произведение или размещена информация, необходимая для его получения.</p>' +
            '<p>2.3.7.\tУказание на отсутствие разрешения правообладателя на размещение (использование) на сайте в сети «Интернет» аудиовизуального произведения или информации, необходимой для его получения;</p>' +
            '<p>2.3.8.\tЕсли спорное аудиовизуальное произведение размещено не на сайте Gifs.ru, но у Заявителя есть обоснованные основания полагать, что такой сайт в сети «Интернет» находится под управлением Администрации, то Заявитель должен указать контактные данные владельца или администратора сайта в сети «Интернет», содержащей аудиовизуальное произведение или информацию, необходимую для его получения, размещенные (используемые), по мнению заявителя, без разрешения правообладателя или иного законного основания;</p>' +
            '<p>2.3.9.\tОснования для установления факта нарушения (включая, копии правоустанавливающих документов, в том числе доверенности, выданной правообладателем, если заявитель таковым не является, прокатное удостоверение, лицензионный договор, удостоверение национального фильма и др.);</p>' +
            '<p>2.3.10.\tСогласие заявителя на обработку его персональных данных - для заявителя - физического лица;</p>' +
            '<p>2.3.11.\tСогласие заявителя с тем, что ложное обвинение в нарушении авторских и (или) смежных прав может повлечь для заявителя ответственность, предусмотренную действующим законодательством Российской Федерации;</p>' +
            '<p>2.3.12.\tСогласие заявителя возместить Администратору Интернет-сервиса любые убытки (прямые и косвенные), а также компенсировать потери в порядке, предусмотренном ст. 406.1 ГК РФ в связи с рассмотрением Администратором Интернет-сервиса заявления заявителя.</p>' +
            '<p>2.3.13.\tВ случае, если Заявление направляется не Правообладателем (в том числе, лицом, обладающим только неисключительными лицензиями на аудиовизуальные произведения и/или Контент, законность размещения которых оспаривается) и/или не участником Меморандума, обладающим правом использовать аудиовизуальное произведение, а уполномоченным им лицом, к Заявлению прикладывается скан-копия доверенности или иного документа, подтверждающего его полномочия.</p>' +
            '<p>2.3.14.\tЗаявитель вправе дополнительно к указанной выше информации и документам представить иную информацию, в том числе ссылки на официальные ресурсы, свидетельствующие о принадлежности прав на спорное аудиовизуальное произведение и/или Контент Заявителю.</p>' +
            '</ul>' +
            '<p>2.4.\tПравообладатель (или член ассоциации (союза)), являющийся участником Меморандума, обладающий правом использовать аудиовизуальное произведение, подает соответствующее заявление о нарушении авторских и (или) смежных прав не к Администрации, а к Держателю Реестра указателей страниц сайтов в сети «Интернет», на которых без разрешения правообладателя или иного законного основания размещаются (используются) аудиовизуальные произведения или информация, необходимая для их получения с использованием информационно-телекоммуникационных сетей, в том числе сети «Интернет», строго в порядке, предусмотренном Меморандумом.</p>' +
            '<p>2.5.\tВвиду технических ограничений веб-формы Заявителю необходимо убедиться, что лимит возможных символов не превышен. Администрация не несет ответственности за непринятие мер в отношении спорного аудиовизуального произведения и/или Контента по URL-адресам за пределами указанного лимита в случае технического сбоя в передаче соответствующей информации Администрации.</p>' +
            '<p>2.6.\tРазмер каждого электронного файла, прилагаемого к заявлению, не должен превышать 250 (двести пятьдесят) мегабайт. Направляя заявление в предусмотренном настоящим Регламентом порядке, Заявитель выражает свое согласие с тем, что сведения о нем и (или) уполномоченных им лицах (включая персональные данные) и его заявление будут использоваться Администрацией для дальнейших коммуникаций по заявлению, а также могут быть направлены Администрацией обратившемуся с возражениями Пользователю.</p>' +
            '<p>2.7.\tВ случае обнаружения неполноты сведений, неточностей или ошибок в заявлении Администрация Сайта вправе направить Заявителю уведомление об уточнении представленных сведений.</p>' +
            '<p>2.8.\tЕсли у Администрации возникают обоснованные сомнения в правомерности подачи Заявлений (полностью или частично) Заявителем и наличии оснований для установления факта нарушения, Администрация вправе отклонить заявление или приостанавливает приём Заявлений от данного Заявителя до тех пор, пока все необходимые документы не будут предоставлены Администрации Заявителем. В случае возникновения спора о наличии у Заявителя права использовать аудиовизуальное произведение, если такой спор не может быть разрешён Администрацией и Заявителем, в течение 14 (четырнадцати) дней с даты получения Администрацией уведомления от стороны спора о возникновении спора, такой спор может быть передан на рассмотрение в суд.</p>' +
            '<p>2.9.\tАдминистрация в том числе, вправе отклонить прием заявления от лица, выступающего от имени Правообладателя, и обладающее только неисключительными лицензиями на использование аудиовизуальных произведений и/или Контента, размещение которых на Сайте по мнению такого лица является незаконным, если у Администрации имеются законные основания полагать (в том числе исходя из имеющихся в распоряжении Администрации копий и/или оригиналов, заключенных с соответствующим Правообладателем лицензионных договоров или иных письменных разрешений, и прочих доказательств), что аудиовизуальные произведения и/или Контент, размещены на Сайте на законных основаниях. В указанном случае, Администрация обязуется направить Заявителю соответствующее уведомление с приложением имеющихся у нее доказательств размещения аудиовизуальных произведений и/или Контента на Сайте на законных основаниях.</p>' +
            '<p>2.10.\tПосле устранения Правообладателем (и/или лицом, представляющим интересы Правообладателя) обстоятельств, препятствующих подаче Заявления (восполнение недостающих сведений, устранение неточностей и ошибок и т.п.), такое Заявление может быть направлено Администрации повторно.</p>' +
            '<p>2.11.\tПерсональные данные Заявителей из числа физических лиц обрабатываются в порядке предусмотренном Политикой конфиденциальности Сайта, размещенной в разделе ПОМОЩЬ по адресу в сети «Интернет» https://gifs.ru.</p>' +
            '<p>2.12.\tВвиду того факта, что Стороны Меморандума приняли на себя обязательства строгого соблюдения процедуры подачи и рассмотрения заявлений о нарушении авторских и (или) смежных прав, предусмотренную Меморандумом, то любое нарушение со стороны Правообладателя - участника Меморандума, обладающего правом использования аудиовизуального произведения (или со стороны лица, входящего в группу/ ассоциацию/ союз Правообладателя Участника Меморандума и/или аффилированное с ним) согласованной Меморандумом процедуры, дает право Администрации, без объяснения причин отклонить заявление, поданное к Администрации в нарушение положений Меморандума.</p>' +

            '<div class="help-subTitle">3.\tРассмотрение заявления о размещении Контента с нарушением закона и меры реагирования</div>' +
            '<p>3.1.\tЕсли поступившее заявление полностью соответствует требованиям раздела 2 настоящего Регламента и отсутствуют признаки злоупотребления правом, описанные в разделе 4 Регламента, и если факты, изложенные в заявлении, надлежащим образом подтверждены, в том числе Администрацией,  то Администрация в течение 24 часов с момента получения надлежащего заявления (датой получения заявления считается, в зависимости от того, что наступит позднее: либо дата успешной отправки заполненной формы Заявителем через интерфейс Сайта, либо дата получения электронного письма с заявлением на адрес Администрации, или дата получения заявления Администрацией посредством почтовой связи или курьером), удаляет с Сайта спорное аудиовизуальное произведение и/или Контент, размещенное на Сайте по ссылке в сети Интернет, указанной в заявлении, а также следит за тем, чтобы при запросах Пользователей к собственному поисковому инструменту Сайта, не происходила выдача таких ссылок в поисковой выдаче Сайта при показе результатов поиска.</p>' +
            '<p>3.2.\tАдминистрацией особо оговаривается, что в случае если по ссылке в сети Интернет, указанной в заявлении на Сайте, где размещено спорное аудиовизуальное произведение и/или Контент, размещен иной контент, не нарушающий прав третьих лиц/ правообладателей, или претензий по которым не было заявлено к Администрации в установленном настоящим Регламентом или Меморандумом порядке, то Администрация удаляет с такой страницы Сайта только ту единицу контента (или ссылку на него) которая является спорной, тем самым «очищая права» по такой ссылке, не блокируя при этом и не удаляя из поисковой выдачи саму страницу Сайта.</p>' +
            '<p>Указанный в абзаце 1 пункта 3.2. настоящего Регламента порядок, применяется Администрацией, в том числе и в отношении аудиовизуальных произведений и/или контента, содержащихся в Реестре (что следует из системного толкования абзаца 3 пункта 8 Меморандума).</p>' +
            '<p>3.3.\tПри этом, если поисковый механизм на Сайте реализован путем интеграции настраиваемой системы веб-поиска, основанной на технологиях какой-либо поисковой системы (Яндекс, Google и пр.), то страница с результатами такого поиска, будет считаться как размещенная на сайте поисковой системы или контролируемая такой поисковой системой веб-страница, на которой полученные результаты поиска демонстрируются конечному пользователю.</p>' +
            '<p>Соответственно, Администрация не может и не будет нести ответственность за наличие ссылки, указанной в заявлении в результатах такого поиска, и Заявителю необходимо направить соответствующее заявление об удалении ссылки из поисковой выдачи, непосредственно оператору такой поисковой системы, т.к. Администрация не имеет необходимых законных и технических оснований, для корректировки поисковой выдачи такого оператора поисковой системы.</p>' +

            '<div class="help-subTitle">4.\tЗлоупотребления при процедуре рассмотрения заявлений</div>' +
            '<p>4.1.\tЗлоупотребление возможностями, предоставляемыми настоящим Регламентом, не допускается. При этом, злоупотреблением со стороны Заявителей Администрация будет признавать следующие действия:</p>' +
            '<ul>' +
            '<p>4.1.1.\tподача заявления с нарушением раздела 2 Регламента;</p>' +
            '<p>4.1.2.\tнеоднократные обращения с заявлениями, формально соответствующими требованиям настоящего Регламента, но содержащими заведомо ложную информацию, что установлено по результатам проведенной Администрацией проверки;</p>' +
            '<p>4.1.3.\tпредоставление недостоверных и/или фальшивых документов (включая электронные) и информации;</p>' +
            '<p>4.1.4.\tиспользование автоматических рассылок и/или программных роботов для обращения и/или коммуникаций с Администрацией;</p>' +
            '<p>4.1.5.\tобращение Заявителя в суд в отношении Администрации с заявлением о предварительном обеспечении защиты авторских и (или) смежных прав в сети «Интернет» или с исковым заявлением о защите авторских и (или) смежных прав в сети «Интернет» по вопросу о защите прав на аудиовизуальное произведение и/или Контент (и/или иным подобным иском/ заявлением), минуя процедуру обращения с Заявлением, предусмотренную настоящим Регламентом;</p>' +
            '<p>4.1.6.\tобращение Заявителя после подачи электронного заявления в рамках настоящего Регламента к Администрации с аналогичным по содержанию заявлением в отношении одного и того же спорного аудиовизуального произведения и/или Контента любым иным способом, если при этом отсутствует ссылка на номер изначально поданного электронного заявления, и наоборот, – обращение с электронным заявлением в соответствии с Регламентом после того, как в адрес Администрации было направлено аналогичное по содержанию заявление в отношении одного и того же спорного аудиовизуального произведения и/или Контента любым иным способом.</p>' +
            '<p>4.1.7.\tобращение к Администрации Заявителя, являющегося Правообладателем (или членом ассоциации (союза)) - участником Меморандума, обладающим правом использовать аудиовизуальное произведение, в нарушение процедуры, предусмотренной Меморандумом, а равно с обращение дублирующим заявлением к Администрации после его подачи с соблюдением процедуры, предусмотренной Меморандумом.</p>' +
            '<p>4.1.обращение Заявителя, являющегося Правообладателем (или членом ассоциации (союза)) - участником Меморандума, обладающим правом использовать аудиовизуальное произведение, в суд в отношении Администрации с заявлением о предварительном обеспечении защиты авторских и (или) смежных прав в сети «Интернет» или с исковым заявлением о защите авторских и (или) смежных прав в сети «Интернет» по вопросу о защите прав на аудиовизуальное произведение и/или Контент (и/или иным подобным иском/ заявлением), минуя процедуру обращения с Заявлением, предусмотренную Меморандумом.</p>' +
            '' +
            '</ul>' +

            '<div class="help-subTitle">5.\tДополнительные Технологические меры, реализуемые Администрацией</div>' +
            '<p>5.1.\tВ силу требований применимого законодательства, Администрация обладает статусом Информационного посредника, для которого не установлена законом обязанность:</p>' +
            '<ul>' +
            '<p>5.1.1.\tосуществлять мониторинг информации, передаваемой или хранимой пользователями Сайта и обеспечивать таким образом, устранение угрозы нарушения исключительных прав Правообладателя в будущем (создавая тем самым избыточные административные и иные ограничения и обязанности, и необоснованные расходы Администрации),</p>' +
            '<p>5.1.2.\tосуществлять активный поиск фактов или последствий, указывающих на нелегальную деятельность пользователей Сайта (при том, что каждый из этих пользователей, обладает техническими возможностями изменения размещаемой им информации в очень короткий период времени, что невозможно отследить в текущем режиме силами Администрации),\n' +
            'При этом, Информационный посредник, обязан в установленный законом срок (после получения законного запроса от Правообладателей и/или уполномоченных органов об удалении аудиовизуальных произведений и/или Контента (и/или информации), размещенных по сетевым адресам, позволяющих идентифицировать сайты в сети «Интернет» (доменные имена и (или) указатели страниц сайтов в сети «Интернет» и т.п.), содержащих информацию, распространение которой в Российской Федерации запрещено) ограничить доступ к информационным ресурсам, на которых размещена распространяемая с нарушением закона информация.</p>' +
            '</ul>' +
            '<p>5.2.\tНесмотря на изложенные выше в п.5.1. настоящего Регламента факты, Администрация ответственно и добросовестно стремится развивать технологии (что является правом, но не обязанностью Администрации, возложенной на него законом), направленные на: (1) развитие легитимной интернет-среды, в которой создаются условия, препятствующие нарушению исключительных прав и на (2) препятствование нарушению интеллектуальных прав на Сайте.</p>' +
            '<p>Так, на дату введения в действие настоящей редакции Регламента, Администрация в тестовом режиме внедряет на Сайте технологию, благодаря которой создается цифровой отпечаток законно загружаемого правообладателями на файла с аудиовизуальным произведением (происходит создание «эталонного цифрового отпечатка») и осуществляется дальнейшая автоматическая идентификация его со всем контентом на Сайте, размещаемом пользователями, выявляя при этом факты нелегального размещения (и/или попыток нелегального размещения) контента пользователями, и при совпадении результатов поиска с эталонным цифровым отпечатком, такие объекты, размещаемые нелегально на Сайте, подлежат блокированию и/или удалению в автоматическом режиме (далее по тексту – «Технология»).</p>' +
            '<p>5.3.\tПри этом, Администрация вынуждено обращает внимание всех заинтересованных лиц, что в силу требований действующего применимого законодательства, надлежащее функционирование Технологии, возможно только при условии, получения Администрацией от Правообладателя в законном порядке изначально легального аудиовизуального контента, с которого может быть сделан цифровой отпечаток (в противном случае, попытка создания цифрового отпечатка с нелегального контента будет являться нарушением прав правообладателей такого контента, что само по себе безусловно неприемлемо для Администрации, как компании строго соблюдающей законодательство об охране интеллектуальной собственности).</p>' +
            '<p>Таким образом, надлежащее и эффективное функционирование внедряемой на Сайте Технологии, возможно только при условии встречных действий со стороны Правообладателей, заинтересованных в полноценной защите своих исключительных прав на контент в рамках Сайта (и лиц, заинтересованных в реализации положений Меморандума), путем предоставления Правообладателями (в порядке предусмотренном действующим законодательством) Администрации, образцов аудиовизуального контента в целях создания цифровых отпечатков в рамках Технологии, на условиях лицензионного договора. В противном случае, Администрация обеспечивает исключительно удаление подтвержденного нелегального контента, размещенного по конкретной ссылке, указанной в заявлении Правообладателя (или в установленном Меморандумом Реестре указателей страниц сайтов в сети «Интернет», на которых без разрешения правообладателя или иного законного основания размещаются (используются) аудиовизуальные произведения или информация, необходимая для их получения с использованием информационно-телекоммуникационных сетей, в том числе сети «Интернет»), и обеспечивает чтобы при запросах Пользователей к собственному поисковому инструменту Сайта, не происходила выдача таких ссылок в поисковой выдаче Сайта при показе результатов поиска.</p>' +
            '<p>5.4.\tАдминистрацией особо оговаривается, что указанное в разделе 5 настоящего Регламента описание Технологии не является публичной офертой.</p>' +

            '<div class="help-subTitle">6.\tХранение и конфиденциальность информации</div>' +
            '<p>6.1.\tАдминистрация вправе хранить все данные, документы и электронные сообщения, связанные с рассмотрением заявления в течение 3 (трех) лет с даты окончания процедуры рассмотрения заявления, если более длительное хранение и использование соответствующей информации не является необходимым для целей защиты прав Администрации.</p>' +
            '<p>6.2.\tАдминистрация не раскрывает информацию о ходе рассмотрения заявления, содержании удаленных спорных аудиовизуальных произведений и/или Контента, и заявлений, за исключением случаев, установленных действующим законодательством и настоящим Регламентом.</p>' +
            '<p>6.3.\tДействующая редакция Регламента располагается на странице Сайта в разделе ПОМОЩЬ по адресу https://gifs.ru. Настоящий Регламент, может быть, в одностороннем порядке изменен Администрацией без какого-либо специального уведомления третьих лиц, путем опубликования Регламента в новой редакции на странице Сайта по указанному ранее адресу в сети Интернет. Любые изменения в Регламент вступают в силу с момента опубликования новой редакции Регламента на Сайте. В случае принятия нормативно-правовых актов органами власти Российской Федерации, затрагивающих целиком или в части функционирование Сайта, Администрация сохраняет за собой право любых изменений в функционировании Сайта и Регламента, направленных на приведение последнего в соответствие с новыми нормами.</p>' +
            '<p>6.4.\tПрименимым правом по настоящему Соглашению является право Российской Федерации. Все споры по поводу Соглашения разрешаются согласно действующему законодательству Российской Федерации по месту нахождения Администрации.</p>'
      },
      {
        name: "Контакты",
        description_title: '<div class="help-title"><strong>Администрация сайта</strong></div>',
        description_body: '<p>Администрацией сайта https://gifs.ru является общество с ограниченной ответственностью «Юникод» (Unicode Limited), ОГРН 1217700409960, юридический адрес: 123458, город Москва, Таллинская ул, д. 32 к. 3, офис 106.</p>' +
            '<p>По любым претензиям, вопросам или с предложениями относительно работы сайта https://gifs.ru посетители могут обращаться к администрации по адресу электронной почты: support@gifs.ru</p>'
      },
    ],
  }),
  computed: {
    showHelpPopup: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style lang="scss">
.help-head-card {
  overflow-y: scroll;
  height: 80vh;
  color: rgba(255, 255, 255, 0.7) !important;
  .title-section {

    .help-title {
      font-size: 1.5em !important;
      margin-bottom: 15px;
      text-align: center;
    }
    p {
      font-size: 0.875rem !important;
      font-weight: 400;
      line-height: 1.375rem;
      letter-spacing: 0.007em;
      color: rgba(255, 255, 255, 0.7) !important;
      text-indent: 1.5em;
    }
  }
  .desc-section {
    .help-subTitle {
      text-align: center;
      font-size: 1.25em !important;
      margin: 20px 0 12px;
    }
    p {
      //color: rgba(255, 255, 255, 0.7) !important;
      font-size: 0.875rem !important;
      font-weight: 400;
      line-height: 1.375rem;
      letter-spacing: 0.007em;
      margin-bottom: 7px;
      text-align: justify;
      text-indent: 1.5em;
    }
    ul {
      margin-bottom: 7px;
      li {
        font-size: 0.875rem !important;
        font-weight: 400;
        line-height: 1.375rem;
      }
    }
  }
}

.close-btn {
  &.help-close-btn {
    position: absolute;
    top: 10px;
    right: 20px
  }
}

</style>
