<template>
  <v-dialog
      v-model="showJoinPopup"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      content-class="join-popup"
  >
    <v-container fluid class="" fill-height>
      <v-row>
        <v-col class="col-12 col-md-6 left-side-col">
          <v-btn
              icon
              dark
              @click.prevent="showJoinPopup = false"
              class="close-btn">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar
              color="transparent"
              dark
              class="mb-7"
              flat
          >
            <template v-slot:extension>
              <v-tabs
                  v-model="tabs"
                  centered
                  color="#7d5fee"
              >
                <v-tab
                    v-for="tab in tabs_name"
                    :key="tab"
                >
                  {{ tab }}
                </v-tab>
              </v-tabs>
            </template>
          </v-toolbar>
          <v-tabs-items
              v-model="tabs"
          >
            <v-tab-item transition="false">
              <v-container>
                <v-flex cols="12">
                  <v-card flat>
                    <div v-if="error" class="alert alert-danger errMsg">{{error}}</div>
                    <v-form ref="form" v-model="valid" lazy-validation class="mb-3">
                      <v-text-field
                          prepend-icon="mdi-email"
                          name="email"
                          label="Email"
                          type="email"
                          v-model="form.email"
                          :rules="emailRules"
                          required
                          data-cy="signinEmailField"
                          color="#7d5fee"
                      >
                      </v-text-field>
                      <v-text-field
                          prepend-icon="mdi-lock"
                          name="password"
                          label="Password"
                          type="password"
                          data-cy="signinPasswordField"
                          v-model="form.password"
                          :rules="passwordRules"
                          required
                          color="#7d5fee"
                      >
                      </v-text-field>
                      <div class="check_wrapper ml-md-10">
                        <v-checkbox
                            v-model="form.checkbox"
                            dense
                            color="#7d5fee"
                            aria-required="true"
                            :rules="checkBoxRules"
                        >
                          <template v-slot:label>
                            <div class="terms-block">
                              Авторизовываясь, Вы соглашаетесь с<v-btn @click.prevent="showTermsPage=true" class="terms-link-btn">Пользовательским соглашением</v-btn> Gifs.ru
                            </div>
                          </template>
                        </v-checkbox>
                      </div>
                    </v-form>
                    <v-card-actions class="mb-5 flex-column">
                      <v-btn
                          color="#7d5fee"
                          :disabled="!valid"
                          @click="submit_login"
                          data-cy="signinSubmitBtn"
                          style="width: 100%"
                      >
                        <span class="px-5">ВОЙТИ</span>
                      </v-btn>
                    </v-card-actions>
                    <div class="d-flex flex-column align-center">
                      <div class="btns-title mb-3">
                        <span class="align-center">Войти с:</span>
                      </div>
                      <div class="btns-group mb-5">
                        <v-btn
                            elevation="2"
                            small
                            color="#ffffff"
                            style="color: #1D1D1D"
                            @click="googleSignIn"
                        ><v-icon color="red" class="mr-1" size="20">mdi-google-plus</v-icon>Google</v-btn>
                        <v-btn
                            elevation="2"
                            small
                            color="#222222"
                            style="color: #ffffff"
                            @click="yandexSignIn"
                        ><v-img src="../assets/join-page/yandex_icon.svg" width="20" height="20" class="mr-1" alt=""/>Яндекс ID</v-btn>
                      </div>
                    </div>
                    <v-card-text class="text-center text-decoration-underline"><a href="" style="text-decoration: none; color: #7d5fee; text-align: end">Забыли пароль?</a></v-card-text>
                  </v-card>
                </v-flex>
              </v-container>
            </v-tab-item>
            <v-tab-item transition="false">
              <v-container>
                <v-flex cols="12">
                  <v-card flat>
                    <div v-if="error" class="alert alert-danger errMsg">{{error}}</div>
                    <v-form ref="form" v-model="valid" lazy-validation class="mb-3">
                      <v-text-field
                          prepend-icon="mdi-email"
                          name="email"
                          label="Email"
                          type="email"
                          v-model="form.email"
                          :rules="emailRules"
                          data-cy="joinEmailField"
                          required
                          color="#7d5fee"
                      >
                      </v-text-field>
                      <v-text-field
                          prepend-icon="mdi-lock"
                          name="password"
                          label="Password"
                          type="password"
                          v-model="form.password"
                          :rules="passwordRules"
                          data-cy="joinPasswordField"
                          required
                          color="#7d5fee"
                      >
                      </v-text-field>
                      <div class="check_wrapper ml-md-10">
                        <v-checkbox
                            v-model="form.checkbox"
                            dense
                            color="#7d5fee"
                            aria-required="true"
                            :rules="checkBoxRules"
                        >
                          <template v-slot:label>
                            <div class="terms-block">
                              Авторизовываясь, Вы соглашаетесь с<v-btn @click.prevent="showTermsPage=true" class="terms-link-btn">Пользовательским соглашением</v-btn> Gifs.ru
                            </div>
                          </template>
                        </v-checkbox>
                      </div>
                    </v-form>
                    <v-card-actions class="mb-5 flex-column">
                      <v-btn
                          color="#7d5fee"
                          :disabled="!valid"
                          @click="submit_registration"
                          data-cy="joinSubmitBtn"
                          style="width: 100%"
                      ><span class="px-5">Регистрация</span></v-btn>
                    </v-card-actions>
                    <div class="d-flex flex-column align-center">
                      <div class="btns-title mb-3">
                        <span class="align-center">Регистрируйся с:</span>
                      </div>
                      <div class="btns-group mb-5">
                        <v-btn
                            elevation="2"
                            small
                            color="#ffffff"
                            style="color: #1D1D1D"
                            @click="googleSignIn"
                        ><v-icon color="red" class="mr-1" size="20">mdi-google-plus</v-icon>Google</v-btn>
                        <v-btn
                            elevation="2"
                            small
                            color="#222222"
                            style="color: #ffffff"
                            @click="yandexSignIn"
                        ><v-img src="../assets/join-page/yandex_icon.svg" width="20" height="20" class="mr-1" alt=""/>Яндекс ID</v-btn>
                      </div>
                    </div>
                  </v-card>
                </v-flex>
              </v-container>
            </v-tab-item>
          </v-tabs-items>
        </v-col>
        <v-col class="col-12 col-md-6 d-none d-md-block right-side-col">
          <v-img
              class="right-side-image"
              src="../assets/join-page/dialog-head-image.png"
              lazy-src="../assets/join-page/dialog-head-image-min.png"
            >
            <template v-slot:placeholder>
              <v-row
                  class="fill-height ma-0"
                  align="center"
                  justify="center"
              >
                <v-progress-circular
                    indeterminate
                    color="grey lighten-5"
                ></v-progress-circular>
              </v-row>
            </template>
          </v-img>
<!--          <v-img width="80%" height="auto" class="text-center" style="margin: 0 auto" src="../../public/favicon.png"></v-img>-->
        </v-col>
      </v-row>
    </v-container>
    <terms-page v-model="showTermsPage"></terms-page>
  </v-dialog>
</template>

<script>
// import firebase from "../../firebase.json";
import firebase from "firebase";
require('firebase/auth');

import TermsPage from "./TermsPage";

export default {
    name: 'Join',
    props: {
      value: Boolean,
    },
    components: {TermsPage},
    data() {
        return {
          showTermsPage: false,
          tabs: null,
          tabs_name: ['логин', 'регистрация'],
            valid: false,
            form: {
              email: "",
              password: "",
              checkbox: false
            },
          error: null,

          emailRules: [
              v => !!v || 'Необходим Ваш Email',
              v => /.+@.+/.test(v) || 'E-mail должен быть настоящим'
          ],
          passwordRules: [
              v => !!v || 'Необходимо ввести пароль',
              v =>
                  v.length >= 6 ||
                  'Пароль должен состоять из более 6ти символов'
          ],
          checkBoxRules: [
              v => !!v || 'Вы должны согласится чтобы продолжить'
          ]
        };
    },
    methods: {
      submit_registration() {
        if (this.$refs.form.validate()) {
          firebase
            .auth()
            .createUserWithEmailAndPassword(this.form.email, this.form.password)
            .then(data => {
              console.log('Registration successful')
              console.log(this.dialog)
              this.showJoinPopup = false;
              this.$router.push('/');
              data.user
                .updateProfile({
                  displayName: this.form.name
                })
                .then(() => {});
            })
            .catch(err => {
              this.error = err.message;
            });
        }
      },
      submit_login() {
        if (this.$refs.form.validate()) {
          firebase
            .auth()
            .signInWithEmailAndPassword(this.form.email, this.form.password)
            .then(() => {
              console.log('SignIn successful')
              this.showJoinPopup = false;
              this.$router.push('/');
            })
            .catch(err => {
              this.error = err.message;
            });
        }
      },
      googleSignIn() {
        const provider = new firebase.auth.GoogleAuthProvider();
        firebase.auth().signInWithPopup(provider).then(() => {
          this.showJoinPopup = false;
          this.$router.push('/');
        }).catch(err => {
          console.log(err);
        })
      },
      yandexSignIn() {

      }
    },
    computed: {
      showJoinPopup: {
        get () {
          return this.value
        },
        set (value) {
          this.$emit('input', value)
        }
      }
    }
};
</script>

<style lang="scss" scoped>

$text-error-color: #ee5253;

.v-tabs-items {
  background-color: transparent !important;
  padding: 0 20%;
  .v-card {
    padding: 15% 15% 5%;
    border-radius: 10px !important;
    //&__text {
    //  padding: 16px 0;
    //}
    .v-text-field {
      .error--text {
        color: $text-error-color !important;
        caret-color: $text-error-color !important;
      }
      &.error--text {
        color: $text-error-color !important;
        caret-color: $text-error-color !important;
      }
    }
    .check_wrapper {
      margin-left: 0;
      .terms-block {
        font-size: 12px;
        color: #ffffff !important;
        .terms-link-btn {
          padding: 2px 0 !important;
          height: auto !important;
          background-color: transparent !important;
          box-shadow: none !important;
          color: #7d5fee !important;
          letter-spacing: normal !important;
          font-size: 10px !important;
          span {
            font-size: 10px !important;
          }
        }
      }
    }


    .errMsg {
      text-align: center;
      font-size: 12px;
      color: $text-error-color !important;
      margin-bottom: 20px;
    }
  }

}

@media (max-width: 1440px) {
  .v-tabs-items {
    padding: 0 15%;
    .v-card {
      padding: 10% 10% 5%;
    }
  }
}

@media (max-width: 1320px) {
  .v-tabs-items {
    padding: 0 10%;
  }
}

@media (max-width: 1140px) {
  .v-tabs-items {
    padding: 0 7%;
  }
}

@media (max-width: 960px) {
  .v-tabs-items {
    .v-card {
      padding: 10% 5% 5%;
    }
  }
}
@media (max-width: 720px) {
  .v-tabs-items {
    padding: 0;
  }
}
.left-side-col {
  position: relative;
  .close-btn {
    position: absolute;
    top: 20px; right: 20px;
    z-index: 5;
  }
}
.right-side-col {
  //background: url('../assets/join-rightside-image.png') no-repeat center center;
  padding: 0 !important;
  .right-side-image {
    height: 100vh; width: auto;
  }
}

.btns-group {
  display: flex;
  justify-content: space-between;
  //flex-wrap: wrap;
  button {
    margin-right: 1.25em;
  }
  @media screen and (max-width: 768px) {
    justify-content: center;
    flex-wrap: wrap;
    button {
      margin-bottom: 10px;
    }
  }
}

</style>
