<template>
  <v-container>
    <v-img src="../assets/nothing-in-search.png" alt="nothing-in-search"></v-img>
  </v-container>
</template>

<script>
export default {
  name: "NothingFound"
}
</script>

<style scoped>

</style>
