<template>
  <div id="profile-page">
    <div class="mt-7 container">
      <div class="row ">
        <div class="col-12 col-md-3 col-sm-4 ">
          <v-card class="mb-4">
            <v-card-text>
              <v-flex class="my-12 align-center text-center">
                <v-avatar
                    size="164"
                    class="text-center align-center"
                    style="cursor: pointer">
                  <img src="../assets/profile-page/avatar.gif" alt="">
                  <!--                <v-btn @click="openAvatarPicker">Change Avatar</v-btn>-->
                  <!--              <img :src="'/avatars/avatar_' + (form.avatar.toLowerCase()) + '.png'" alt="">-->
                  <!--              <img src="" alt="">-->
                  <v-icon color="white">mdi-square-edit-outline</v-icon>
                </v-avatar>
              </v-flex>
            </v-card-text>
          </v-card>
          <v-card>
            <v-list
                dense
                nav
            >
              <v-list-item-group
                  color="white"
                  class="mb-1"
              >
                <v-list-item
                    v-for="item in profile_sidebar_items"
                    :key="item.title"
                    link
                    class="pl-5"
                    style="min-height: 32px;"
                >
                  <v-list-item-icon class="mr-3">
                    <v-icon>{{ item.icon }}</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content color="teal" class="py-2">
                    <v-list-item-title class="font-weight-regular">{{ item.title }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card>

        </div>
        <div class="col-12 col-md-9 col-sm-8">
          <v-card class="px-10 py-5">
            <v-card-text>
              <v-flex class="mb-7">
                <h2 class="mb-10 text-left profile-title">Настройки учетной записи</h2>
              </v-flex>
              <v-text-field
                  color="#7d5fee"
                  v-model="form.firstName"
                  label="Имя пользователя">
              </v-text-field>
              <v-card-text v-model="form.firstName" class="pt-0"><a :href="'https://gifs.ru/channel/' + form.firstName" style="color: #7d5fee">https://gifs.ru/chanel/{{form.firstName}}</a></v-card-text>
              <v-text-field
                  color="#7d5fee"
                  v-model="form.viewName"
                  label="Отображаемое имя"></v-text-field>
              <v-text-field
                  color="#7d5fee"
                  v-model="form.contactEmail"
                  label="Email"></v-text-field>
            </v-card-text>
            <v-card-actions>
              <v-btn color="#7d5fee" :loading="loading" @click.native="updateProfile">
                <v-icon left>mdi-content-save</v-icon>
                Сохранить
              </v-btn>
            </v-card-actions>
          </v-card>
        </div>
      </div>
      <!--    <avatar-picker-->
      <!--        v-model="showAvatarPicker"-->
      <!--        :current-avatar="form.avatar"-->
      <!--        @selected="selectAvatar"></avatar-picker>-->
    </div>
  </div>

</template>

<script>
// import AvatarPicker from '~/components/AvatarPicker'
export default {
  name: 'Profile',
  // pageTitle: 'My Profile',
  // components: { AvatarPicker },
  data () {
    return {
      loading: false,
      form: {
        firstName: '',
        viewName: '',
        contactEmail: '',
        avatar: 'MALE_CAUCASIAN_BLOND_BEARD'
      },
      showAvatarPicker: false,

      profile_sidebar_items: [
        { title: 'Настройки', icon: 'mdi-cog' },
        { title: 'Пароль', icon: 'mdi-lock' },
        { title: 'Избранное', icon: 'mdi-heart' },
      ],
    }
  },
  methods: {
    updateProfile() {
      this.$router.push({ name: 'dashboard', path: `/` }).catch(()=>{})
    }
    // openAvatarPicker () {
    //   this.showAvatarPicker = true
    // },
    // selectAvatar (avatar) {
    //   this.form.avatar = avatar
    // }
  }
}
</script>

<style lang="scss">
  $orange-color: #d7a039;
  $purple-color: #8300be;
  $purple-second-color: #7d5fee;
  $cyan-color: #56c6c4;
  $green-primary: #00ff99;

  #profile-page {
    .v-avatar {
      background: $purple-color;
      img {
        //width: 120px;
      }
      .v-icon {
        position: absolute;
        display: none;
      }
      &:hover {
        img {
          display: none;
        }
        .v-icon {
          display: flex;
        }
      }
    }
    .profile-title {
      font-size: 28px;
      color: white;
      line-height: 1.2;
    }
  }

</style>
