<template>
  <v-container class="mt-7">
    <h2 class="mb-7 results-title">Результат поиска по запросу: {{passQuery}}</h2>
    <v-toolbar
        dark
        flat
        dense
    >
      <v-tabs
          v-model="tab"
          color="purple"
      >
        <v-tabs-slider color="purple"></v-tabs-slider>
        <v-tab
            v-for="item in tab_items"
            :key="item"
        >
          {{ item }}
        </v-tab>
      </v-tabs>
    </v-toolbar>
    <v-tabs-items v-model="tab" class="px-0 mt-5">
      <v-tab-item
        transition="fade-transition"
        reverse-transition="fade-transition"
      >
        <div class="gifcard-wrapper" id="loadmore-block">
          <div v-for="item in gifsFromSearch" :key="item.id" @click.prevent="selected(item.id, item.title)" class="gifcard">
            <picture>
              <source type="image/webp" :srcset="`https://media3.giphy.com/media/${item.id}/giphy.webp`">
              <img :src="`https://media.giphy.com/media/${item.id}/giphy.gif`" :alt="item.title">
            </picture>
          </div>
        </div>
        <div class="d-flex justify-center load-more-btn my-5">
          <v-btn @click="loadMoreGif">Показать ещё</v-btn>
        </div>
      </v-tab-item>
      <v-tab-item
        transition="fade-transition"
        reverse-transition="fade-transition"
      >
        <div class="gifcard-wrapper" id="loadmoreStickers-block">
          <div v-for="item in stickersFromSearch" :key="item.id" @click.prevent="selected(item.id, item.title)" class="gifcard stickers-card">
            <picture>
              <source type="image/webp" :srcset="`https://media3.giphy.com/media/${item.id}/giphy.webp`">
              <img :src="`https://media.giphy.com/media/${item.id}/giphy.gif`" :alt="item.title">
            </picture>
          </div>
        </div>
        <div class="d-flex justify-center load-more-btn my-5">
          <v-btn @click="loadMoreStickers">Показать ещё</v-btn>
        </div>
      </v-tab-item>
    </v-tabs-items>

  </v-container>
</template>
<script>

export default {
  name: "SearchResult",
  props: {passQuery: {type: String, default: ''}},
  data () {
    return {
      tab: null,
      tab_items: [
        'Гифки', 'Стикеры'
      ],
      searchEndPoint: "https://api.giphy.com/v1/gifs/search?",
      searchEndPointStickers: "https://api.giphy.com/v1/stickers/search?",
      targetId: '',
      countGifs: 25,
      countStickers: 25,

      gifsFromSearch: [],
      stickersFromSearch: [],


      moreGifsArr: [],
      moreStickersArr: [],
    }
  },
  methods: {
    scrollToTop() {
      window.scrollTo(0,0);
    },
    selected(id, title) {
      const first2WordsName = title.split(' ').slice(0, 2).join(' ');
      let selectedUrl = `https://media.giphy.com/media/${id}/giphy.gif`
      this.$router.push({ name: 'details', path: '/details', params: {selected: selectedUrl, id: id, selectedTitle: first2WordsName} }).catch(()=>{});
    },
    async loadContent() {

      let limit = 10;
      await fetch('https://api.giphy.com/v1/gifs/search?q='+this.passQuery+'&api_key=yBaPncwkPpItSTrjP46PbHBZ6xeWXX7z'+`&limit=${limit}`)
          .then((res) => { return res.json(); })
          .then((res) => {
            if(res.data.length === 0) {
              this.$router.push({ name: 'nofind', path: `/emptysearch`}).catch(()=>{})
            } else {
              this.gifsFromSearch = res.data;
            }
          });
      await fetch('https://api.giphy.com/v1/stickers/search?q='+this.passQuery+'&api_key=yBaPncwkPpItSTrjP46PbHBZ6xeWXX7z'+`&limit=${limit}`)
          .then((res) => { return res.json(); })
          .then((res) => { this.stickersFromSearch = res.data; });

    },
    loadMoreGif() {
      this.countGifs = this.countGifs + 10;
      fetch(`${this.searchEndPoint}&api_key=ce336YkH2segK8ceZr3HI2Lt3YraZCho&q=${this.passQuery}&offset=${this.countGifs}&limit=10`)
          .then((res) => { return res.json();})
          .then((res) => { this.moreGifsArr = res.data;})
          .then(() => {
            this.moreGifsArr.forEach((item) => {
              let div = document.createElement('div');
              div.classList.add("gifcard");
              div.onclick = () => {
                const first2WordsName = item.title.split(' ').slice(0, 2).join(' ');
                let selectedUrl = `https://media.giphy.com/media/${item.id}/giphy.gif`
                this.$router.push({ name: 'details', params: {selected: selectedUrl, id: item.id, selectedTitle: first2WordsName} }).catch(()=>{});
              };
              div.innerHTML = `
               <picture>
                <source type="image/webp" srcset="https://media3.giphy.com/media/${item.id}/giphy.webp">
                <img src="https://media.giphy.com/media/${item.id}/giphy.gif" alt="${item.title}">
              </picture>
            `;
              document.getElementById('loadmore-block').appendChild(div);
              // console.log(item)
            })
          });
    },
    loadMoreStickers() {
      this.countStickers = this.countStickers + 10;
      fetch(`${this.searchEndPointStickers}&api_key=ce336YkH2segK8ceZr3HI2Lt3YraZCho&q=${this.passQuery}&offset=${this.countStickers}&limit=10`)
          .then((res) => { return res.json();})
          .then((res) => { this.moreStickersArr = res.data;})
          .then(() => {
            this.moreStickersArr.forEach((item) => {
              let div = document.createElement('div');
              div.classList.add("gifcard", "stickers-card");
              div.onclick = () => {
                const first2WordsName = item.title.split(' ').slice(0, 2).join(' ');
                let selectedUrl = `https://media.giphy.com/media/${item.id}/giphy.gif`
                this.$router.push({ name: 'details', params: {selected: selectedUrl, id: item.id, selectedTitle: first2WordsName} }).catch(()=>{});
              };
              div.innerHTML = `
               <picture>
                <source type="image/webp" srcset="https://media3.giphy.com/media/${item.id}/giphy.webp">
                <img src="https://media.giphy.com/media/${item.id}/giphy.gif" alt="${item.title}">
              </picture>
            `;
              document.getElementById('loadmoreStickers-block').appendChild(div);
              // console.log(item)
            })
          });
    },
  },
  beforeMount() {
    this.loadContent()
  },
  mounted() {

  },
  watch: {
    // passQuery: function(newVal, oldVal) { // watch it
    //   console.log('Prop changed: ', newVal, ' | was: ', oldVal)
    // }
  }
}
</script>

<style lang="scss">
.gifcard-wrapper {
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 auto;
  //margin-left: -10px; /* Adjustment for the gutter */
  width: 100%;
  .gifcard {
    flex: 1 0 auto;
    height: 200px;
    min-width: 200px;
    margin: 0 12px 12px 0; /* Some gutter */
    background-color: #121212;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    overflow: hidden;
    &:after {
      content: "";
      flex: 1 1 100%;
      max-width: 62%;
    }
    &.stickers-card {
      background:
          conic-gradient(rgba(0,0,0,0.10) 0deg, rgba(169,169,169, 0.07) 90deg,
              rgba(169,169,169, 0.07) 90deg, rgba(169,169,169, 0.07) 180deg,
              rgba(169,169,169, 0.10) 180deg,rgba(0,0,0,0.15) 270deg,
              rgba(169,169,169, 0.07) 270deg, rgba(169,169,169, 0.07) 360deg) 0 0/60px 60px round;
    }
    img {
      //max-height: 200px;
    }
  }
}
</style>
