<template>
    <v-container fill-height>
        <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4>

            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
// import firebase from "firebase";
require('firebase/auth')
export default {
    name: 'Signin',
    data() {
        return {
            valid: false,
          form: {
            email: "",
            password: ""
          },
            // email: '',
            // password: '',
            emailRules: [
                v => !!v || 'Необходим Ваш Email',
                v => /.+@.+/.test(v) || 'E-mail должен быть настоящим'
            ],
            passwordRules: [
                v => !!v || 'Необходимо ввести пароль',
                v =>
                    v.length >= 6 ||
                    'Пароль должен состоять из более 6ти символов'
            ]
        };
    },
    methods: {
        // submit() {
        //     if (this.$refs.form.validate()) {
        //
        //         this.$store.dispatch('userLogin', {
        //             email: this.email,
        //             password: this.password,
        //         });
        //     }
        // }


    }
};
</script>

<style scoped></style>
