<template>
  <v-dialog
      v-model="dialog"
      width="600px"
  >
    <v-card>
      <v-card-title>
        <span class="text-h5">Пользовательское соглашение GIFS.ru</span>
      </v-card-title>
      <v-card-text>
        <div class="help-subTitle">1. Общие положения</div>
        <p>1.1. Настоящее Пользовательское соглашение (далее – Соглашение) относится к сайту Gifs.ru расположенному по адресу https://gifs.ru, и ко всем соответствующим сайтам, связанным с сайтом gifs.ru и гифки.рф</p>
        <p>1.2. Настоящее Соглашение регулирует отношения между Администрацией Сайта развлекательного портала «www.gifs.ru» (далее – Администрация Cайта) и Пользователем данного Сайта.</p>
        <p>1.3. Администрация Cайта оставляет за собой право в любое время изменять, добавлять или удалять пункты настоящего Соглашения без уведомления Пользователя.</p>
        <p>1.4. Продолжение использования Сайта Пользователем означает принятие Соглашения и изменений, внесенных в настоящее Соглашение.</p>
        <p>1.5. Пользователь несет персональную ответственность за проверку настоящего Соглашения на наличие изменений в нем.</p>

        <div class="help-subTitle">2. Определения терминов</div>
        <p>2.1. Перечисленные ниже термины имеют для целей настоящего Соглашения следующее значение:</p>
        <ul>
          <li>«Gifs» – развлекательный портал, расположенный на доменном имени www.gifs.ru, осуществляющий свою деятельность посредством Интернет-ресурса и сопутствующих ему сервисов.</li>
          <li>Развлекательный портал www.gifs.ru, содержащий информацию о Товарах, Услугах, Продавце, позволяющий осуществить выбор, заказ и (или) приобретение Товара или Услуги.</li>
          <li>Администрация сайта развлекательного портала www.gifs.ru – уполномоченные сотрудники на управления Сайтом, действующие от имени название организации.</li>
          <li>Пользователь сайта (далее Пользователь) – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт.</li>
          <li>Содержание Cайта развлекательного портала www.gifs.ru (далее – Содержание) - охраняемые результаты интеллектуальной деятельности, включая тексты литературных произведений, их названия, предисловия, аннотации, статьи, иллюстрации, обложки, музыкальные произведения с текстом или без текста, графические, текстовые, фотографические, gif анимация, производные, составные и иные произведения, пользовательские интерфейсы, визуальные интерфейсы, названия товарных знаков, логотипы, программы для ЭВМ, базы данных, а также дизайн, структура, выбор, координация, внешний вид, общий стиль и расположение данного Содержания, входящего в состав Сайта и другие объекты интеллектуальной собственности все вместе и/или по отдельности, содержащиеся на сайте Сайта.</li>
        </ul>

        <div class="help-subTitle">3.Предмет соглашения</div>
        <p>3.1.Предметом настоящего Соглашения является предоставление Пользователю доступа к содержащимся на Сайте Товарам и оказываемым услугам.</p>
        <p>3.1.1.Администрация Cайта предоставляет Пользователю следующие виды услуг (сервисов):</p>
        <ul>
          <li>доступ к электронному контенту на платной основе, с правом приобретения (скачивания), просмотра контента;</li>
          <li>доступ к средствам поиска и навигации Сайта;</li>
          <li>предоставление Пользователю возможности размещения сообщений, комментариев, рецензий Пользователей, выставления оценок контенту Сайта;</li>
          <li>доступ к информации о Товаре и к информации о приобретении Товара на платной основе;</li>
          <li>иные виды услуг (сервисов), реализуемые на страницах Сайта.</li>
        </ul>
        <p>3.2.Под действие настоящего Соглашения подпадают все существующие (реально функционирующие) на данный момент услуги (сервисы) Сайта, а также любые их последующие модификации и появляющиеся в дальнейшем дополнительные услуги (сервисы) Сайта.</p>
        <p>3.3.Доступ к Сайту предоставляется на ежедневной основе.</p>
        <p>3.4.Настоящее Соглашение является публичной офертой. Получая доступ к Сайту, Пользователь считается присоединившимся к настоящему Соглашению.</p>
        <p>3.5.Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.</p>

        <div class="help-subTitle">4.Права и обязанности сторон</div>
        <p>4.1.<strong>Администрация сайта вправе:</strong></p>
        <ul>
          <li>Изменять правила пользования Сайтом, а также изменять содержание данного Сайта. Изменения вступают в силу с момента публикации новой редакции Соглашения на Сайте.</li>
          <li>Ограничить доступ к Сайту в случае нарушения Пользователем условий настоящего Соглашения.</li>
          <li>Изменять размер оплаты, взимаемый за предоставление доступа к использованию сайта. Изменение стоимости не будет распространяться на Пользователей, имеющих регистрацию к моменту изменения размера оплаты, за исключением случаев, особо оговоренных Администрацией сайта.</li>
        </ul>
        <p>4.2Пользователь вправе:</p>
        <ul>
          <li>Получить доступ к использованию Сайта после соблюдения требований о регистрации оплате.</li>
          <li>Пользоваться всеми имеющимися на Сайте услугами, а также приобретать любые Товары, предлагаемые на Сайте.</li>
          <li>Задавать любые вопросы, относящиеся к услугам Сайта по электронной почте info@gifs.ru</li>
          <li>Пользоваться Сайтом исключительно в целях и порядке, предусмотренных Соглашением и не запрещенных законодательством Российской Федерации.</li>
        </ul>
        <p>4.3.Пользователь Сайта обязуется:</p>
        <p>4.3.1. Предоставлять по запросу Администрации сайта дополнительную информацию, которая имеет непосредственное отношение к предоставляемым услугам данного Сайта.</p>
        <p>4.3.2. Соблюдать имущественные и неимущественные права авторов и иных правообладателей при использовании Сайта.</p>
        <p>4.3.3. Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную работу Сайта.</p>
        <p>4.3.4. Не распространять с использованием Сайта любую конфиденциальную и охраняемую законодательством Российской Федерации информацию о физических либо юридических лицах.</p>
        <p>4.3.5. Избегать любых действий, в результате которых может быть нарушена конфиденциальность охраняемой законодательством Российской Федерации информации.</p>
        <p>4.3.6. Не использовать Сайт для распространения информации рекламного характера, иначе как с согласия Администрации сайта.</p>
        <p>4.3.7. Не использовать сервисы сайта с целью:</p>
        <ul>
          <li>загрузки контента, который является незаконным, нарушает любые права третьих лиц; пропагандирует насилие, жестокость, ненависть и (или) дискриминацию по расовому, национальному, половому, религиозному, социальному признакам; содержит недостоверные сведения и (или) оскорбления в адрес конкретных лиц, организаций, органов власти.</li>
          <li>побуждения к совершению противоправных действий, а также содействия лицам, действия которых направлены на нарушение ограничений и запретов, действующих на территории Российской Федерации.</li>
          <li>нарушения прав несовершеннолетних лиц и (или) причинение им вреда в любой форме.</li>
          <li>ущемления прав меньшинств.</li>
          <li>представления себя за другого человека или представителя организации и (или) сообщества без достаточных на то прав, в том числе за сотрудников данного Сайта.</li>
          <li>введения в заблуждение относительно свойств и характеристик какого-либо Товара из каталога Сайта, размещенного на Сайте.</li>
          <li>некорректного сравнения Товара, а также формирования негативного отношения к лицам, (не) пользующимся определенными Товарами, или осуждения таких лиц.</li>
        </ul>
        <p>4.4. Пользователю запрещается:</p>
        <p>4.4.1. Использовать любые устройства, программы, процедуры, алгоритмы и методы, автоматические устройства или эквивалентные ручные процессы для доступа, приобретения, копирования или отслеживания содержания Сайта;</p>
        <p>4.4.2. Нарушать надлежащее функционирование Сайта;</p>
        <p>4.4.3. Любым способом обходить навигационную структуру Сайта для получения или попытки получения любой информации, документов или материалов любыми средствами, которые специально не представлены сервисами данного Сайта;</p>
        <p>4.4.4. Несанкционированный доступ к функциям Сайта, любым другим системам или сетям, относящимся к данному Сайту, а также к любым услугам, предлагаемым на Сайте;</p>
        <p>4.4.5. Нарушать систему безопасности или аутентификации на Сайте или в любой сети, относящейся к Сайту.</p>
        <p>4.4.6. Выполнять обратный поиск, отслеживать или пытаться отслеживать любую информацию о любом другом Пользователе Сайта.</p>
        <p>4.4.7. Использовать Сайт и его Содержание в любых целях, запрещенных законодательством Российской Федерации, а также подстрекать к любой незаконной деятельности или другой деятельности, нарушающей права Сайта или других лиц.</p>

        <div class="help-subTitle">5.Использование сайта</div>
        <p>5.1.Сайт и Содержание, входящее в состав Сайта, принадлежит и управляется Администрацией сайта.</p>
        <p>5.2.Содержание Сайта не может быть скопировано, опубликовано, воспроизведено, передано или распространено любым способом, а также размещено в глобальной сети «Интернет» без предварительного письменного согласия Администрации сайта.</p>
        <p>5.3.Содержание Сайта защищено авторским правом, законодательством о товарных знаках, а также другими правами, связанными с интеллектуальной собственностью, и законодательством о недобросовестной конкуренции.</p>
        <p>5.4.Приобретение Товара или услуги, предлагаемого на Сайте, может потребовать создания учётной записи Пользователя.</p>
        <p>5.5.Пользователь несет персональную ответственность за сохранение конфиденциальности информации учётной записи, включая пароль, а также за всю без исключения деятельность, которая ведётся от имени Пользователя учётной записи.</p>
        <p>5.6.Пользователь должен незамедлительно уведомить Администрацию сайта о несанкционированном использовании его учётной записи или пароля или любом другом нарушении системы безопасности.</p>
        <p>5.7.Администрация сайта обладает правом в одностороннем порядке аннулировать учетную запись Пользователя, если она не использовалась более количество месяцев календарных месяцев подряд без уведомления Пользователя.</p>
        <p>5.8.Настоящее Соглашение распространяет свое действия на все дополнительные положения и условия о покупке Товара и оказанию услуг, предоставляемых на Сайте.</p>
        <p>5.9.Информация, размещаемая на Сайте не должна истолковываться как изменение настоящего Соглашения.</p>
        <p>5.10.Администрация сайта имеет право в любое время без уведомления Пользователя вносить изменения в перечень Товаров и услуг, предлагаемых на Сайте, и (или) в цены, применимые к таким Товарам по их реализации и (или) оказываемым услугам Сайта.</p>
        <p>5.11.Документы, указанные в пунктах 5.10.1 - 5.10.4 настоящего Соглашения регулируют в соответствующей части и распространяют свое действие на использование Пользователем Сайта. В настоящее Соглашение включены следующие документы:</p>
        <ul>
          <li>1.Политика конфиденциальности;</li>
          <li>2.Договор купли-продажи товаров дистанционным способом;</li>
          <li>3.Заявка на оформление заказа;</li>
          <li>4.Предложения и замечания.</li>
        </ul>
        <p>5.12.Любой из документов, перечисленных в пункте 5.10. настоящего Соглашения может подлежать обновлению. Изменения вступают в силу с момента их опубликования на Сайте.</p>

        <div class="help-subTitle">6.Ответственность</div>
        <p>6.1. Любые убытки, которые Пользователь может понести в случае умышленного или неосторожного нарушения любого положения настоящего Соглашения, а также вследствие несанкционированного доступа к коммуникациям другого Пользователя, Администрацией сайта не возмещаются.</p>
        <p>6.2. Администрация сайта не несет ответственности за:</p>
        <ul>
          <li>Задержки или сбои в процессе совершения операции, возникшие вследствие непреодолимой силы, а также любого случая неполадок в телекоммуникационных, компьютерных, электрических и иных смежных системах.</li>
          <li>Действия систем переводов, банков, платежных систем и за задержки, связанные с их работой.</li>
          <li>Надлежащее функционирование Сайта, в случае если Пользователь не имеет необходимых технических средств для его использования, а также не несет никаких обязательств по обеспечению пользователей такими средствами.</li>
        </ul>

        <div class="help-subTitle">7.Нарушение условий пользовательского соглашения</div>
        <p>7.1.Администрация сайта вправе раскрыть любую собранную о Пользователе данного Сайта информацию, если раскрытие необходимо в связи с расследованием или жалобой в отношении неправомерного использования Сайта либо для установления (идентификации) Пользователя, который может нарушать или вмешиваться в права Администрации сайта или в права других Пользователей Сайта.</p>
        <p>7.2.Администрация сайта имеет право раскрыть любую информацию о Пользователе, которую посчитает необходимой для выполнения положений действующего законодательства или судебных решений, обеспечения выполнения условий настоящего Соглашения, защиты прав или безопасности название организации, Пользователей.</p>
        <p>7.3.Администрация сайта имеет право раскрыть информацию о Пользователе, если действующее законодательство Российской Федерации требует или разрешает такое раскрытие.</p>
        <p>7.4.Администрация сайта вправе без предварительного уведомления Пользователя прекратить и (или) заблокировать доступ к Сайту, если Пользователь нарушил настоящее Соглашение или содержащиеся в иных документах условия пользования Сайтом, а также в случае прекращения действия Сайта либо по причине технической неполадки или проблемы.</p>
        <p>7.5.Администрация сайта не несет ответственности перед Пользователем или третьими лицами за прекращение доступа к Сайту в случае нарушения Пользователем любого положения настоящего Соглашения или иного документа, содержащего условия пользования Сайтом.</p>

        <div class="help-subTitle">8.Разрешение споров</div>
        <p>8.1.В случае возникновения любых разногласий или споров между Сторонами настоящего Соглашения обязательным условием до обращения в суд является предъявление претензии (письменного предложения о добровольном урегулировании спора).</p>
        <p>8.2.Получатель претензии в течение 30 календарных дней со дня ее получения, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.</p>
        <p>8.3.При невозможности разрешить спор в добровольном порядке любая из Сторон вправе обратиться в суд за защитой своих прав, которые предоставлены им действующим законодательством Российской Федерации.</p>
        <p>8.4.Любой иск в отношении условий использования Сайта должен быть предъявлен в течение срок после возникновения оснований для иска, за исключением защиты авторских прав на охраняемые в соответствии с законодательством материалы Сайта. При нарушении условий данного пункта любой иск или основания для иска погашаются исковой давностью.</p>
        <div class="help-subTitle">9.Дополнительные условия</div>
        <p>9.1.Администрация сайта не принимает встречные предложения от Пользователя относительно изменений настоящего Пользовательского соглашения.</p>
        <p>9.2.Отзывы Пользователя, размещенные на Сайте, не являются конфиденциальной информацией и могут быть использованы Администрацией сайта без ограничений.</p>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            color="#7d5fee"
            text
            @click="dialog = false"
        >
          Отклонить
        </v-btn>
        <v-btn
            color="#7d5fee"
            text
            @click="dialog = false"
        >
          Принять
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "TermsPage",
  props: {
    value: Boolean,
  },

  computed: {
    dialog: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
  }
}
</script>

<style scoped>

</style>
