<template>
  <div class="">
    <a href="http://coursebook.ru">
      <img src="../assets/ad-banner.png" alt=""/>
    </a>
  </div>
</template>

<script>
export default {
  name: "AdSection"
}
</script>

<style lang="scss" scoped>
  img {
    max-height: 160px;
    width: 100%;
    max-width: 420px;
  }
</style>
