<template>
  <v-container>
    <v-card
        class="mx-auto my-6 my-md-12 pa-4 comm-card"
        color="dark"
    >
      <div class="d-flex justify-space-between flex-wrap">
        <div class="d-flex align-center mb-3 mb-lg-0">
          <div class="image-side">
            <v-img
                :src="require(`../assets/sidebar/${picture}.png`)"
                :lazy-src="require(`../assets/sidebar/min/${picture}-min.png`)"
                class="img-fluid"
                style="max-width: 160px; margin: 0; border-radius: 5px"
            >
            </v-img>
          </div>
          <div class="title-side px-5">
            <h1 class="comm-title" :ref="title">{{title}}</h1>
            <p class="comm-title__sub">Сообщество</p>
          </div>
        </div>
        <ad-section class="d-flex"></ad-section>
      </div>

    </v-card>
    <v-toolbar
        flat
        dense
    >
      <v-tabs
          v-model="tab"
          color="purple"
      >
        <v-tabs-slider color="purple"></v-tabs-slider>
        <v-tab
            v-for="item in items"
            :key="item + picture"
        >
          {{ item }}
        </v-tab>
      </v-tabs>
    </v-toolbar>

    <v-tabs-items v-model="tab" class="px-0 mt-5">
      <v-tab-item
          transition="fade-transition"
          reverse-transition="fade-transition"
      >
        <div class="gifcard-wrapper" id="loadmore-block">
          <div v-for="item in gifs" :key="item.id + 'Asection'" @click.prevent="selected(item.id, item.title)" class="gifcard">
            <picture>
              <source type="image/webp" :srcset="`https://media3.giphy.com/media/${item.id}/giphy.webp`">
              <img :src="`https://media.giphy.com/media/${item.id}/giphy.gif`" :alt="item.title">
            </picture>
          </div>
        </div>
        <div class="d-flex justify-center load-more-btn my-5">
          <v-btn @click="loadMoreGif">Показать ещё</v-btn>
        </div>
      </v-tab-item>
      <v-tab-item
          transition="fade-transition"
          reverse-transition="fade-transition"
      >
        <div class="gifcard-wrapper" id="loadmoreStickers-block">
          <div v-for="item in stickers" :key="item.id + 'Bsection'" @click.prevent="selected(item.id, item.title)" class="gifcard stickers-card">
            <picture>
              <source type="image/webp" :srcset="`https://media3.giphy.com/media/${item.id}/giphy.webp`">
              <img :src="`https://media.giphy.com/media/${item.id}/giphy.gif`" :alt="item.title">
            </picture>
          </div>
        </div>
        <div class="d-flex justify-center load-more-btn my-5">
          <v-btn @click="loadMoreStickers">Показать ещё</v-btn>
        </div>
      </v-tab-item>
      <v-tab-item
          transition="fade-transition"
          reverse-transition="fade-transition"
      >
      </v-tab-item>
    </v-tabs-items>
  </v-container>
</template>

<script>

// import {bus} from "../main";
import AdSection from "./AdSection";

export default {
  props: {title: {type: String, default: 'CommunityName'}, picture: String, sameGifs: String},
  components: {AdSection},
  name: "CommunityPage",
  data () {
    return {
      tab: null,
      items: [
        'Гифки', 'Стикеры'
      ],
      gifs: [],
      stickers: [],
      countGifs: 25,
      countStickers: 25,

      moreGifsArr: [],
      moreStickersArr: [],

      searchEndPoint: "https://api.giphy.com/v1/gifs/search?",
      searchEndPointStickers: "https://api.giphy.com/v1/stickers/search?",
      searchEndPointClips: "https://api.giphy.com/v1/clips/search?",
      apiKey: "ce336YkH2segK8ceZr3HI2Lt3YraZCho",
    }
  },
  methods: {
      initData(){
        fetch(`${this.searchEndPoint}&api_key=${this.apiKey}&q=${this.sameGifs}&limit=10`)
            .then((res) => { return res.json(); })
            .then((res) => { this.gifs = res.data; });
        fetch(`${this.searchEndPointStickers}&api_key=${this.apiKey}&q=${this.sameGifs}&limit=10`)
            .then((res) => { return res.json(); })
            .then((res) => { this.stickers = res.data; });
      },
    selected(id, title) {
      const first2WordsName = title.split(' ').slice(0, 2).join(' ');
      let selectedUrl = `https://media.giphy.com/media/${id}/giphy.gif`
      this.$router.push({ name: 'details', path: '/details', params: {selected: selectedUrl, id: id, selectedTitle: first2WordsName } }).catch(()=>{});
    },
    loadMoreGif() {
      this.countGifs = this.countGifs + 10;
      fetch(`${this.searchEndPoint}&api_key=ce336YkH2segK8ceZr3HI2Lt3YraZCho&q=${this.sameGifs}&offset=${this.countGifs}&limit=10`)
          .then((res) => { return res.json();})
          .then((res) => { this.moreGifsArr = res.data;})
          .then(() => {
            this.moreGifsArr.forEach( (item) => {
              let div = document.createElement('div');
              div.classList.add("gifcard");
              div.onclick = () => {
                const first2WordsName = item.title.split(' ').slice(0, 2).join(' ');
                let selectedUrl = `https://media.giphy.com/media/${item.id}/giphy.gif`
                this.$router.push({ name: 'details', params: {selected: selectedUrl, id: item.id, selectedTitle: first2WordsName} }).catch(()=>{});
              }
              div.innerHTML = `
               <picture>
                <source type="image/webp" srcset="https://media3.giphy.com/media/${item.id}/giphy.webp">
                <img src="https://media.giphy.com/media/${item.id}/giphy.gif" alt="${item.title}">
              </picture>
            `;
              document.getElementById('loadmore-block').appendChild(div);
              // console.log(item)
            })
          });
    },
    loadMoreStickers() {
      this.countStickers = this.countStickers + 10;
      fetch(`${this.searchEndPointStickers}&api_key=ce336YkH2segK8ceZr3HI2Lt3YraZCho&q=${this.sameGifs}&offset=${this.countStickers}&limit=10`)
          .then((res) => { return res.json();})
          .then((res) => { this.moreStickersArr = res.data;})
          .then(() => {
            this.moreStickersArr.forEach( (item) => {
              let div = document.createElement('div');
              div.classList.add("gifcard", "stickers-card");
              div.onclick = () => {
                const first2WordsName = item.title.split(' ').slice(0, 2).join(' ');
                let selectedUrl = `https://media.giphy.com/media/${item.id}/giphy.gif`
                this.$router.push({ name: 'details', params: {selected: selectedUrl, id: item.id, selectedTitle: first2WordsName} }).catch(()=>{});
              }
              div.innerHTML = `
               <picture>
                <source type="image/webp" srcset="https://media3.giphy.com/media/${item.id}/giphy.webp">
                <img src="https://media.giphy.com/media/${item.id}/giphy.gif" alt="${item.title}">
              </picture>
            `;
              document.getElementById('loadmoreStickers-block').appendChild(div);
              // console.log(item)
            })
          });
    },
  },
  beforeMount() {

  },
  mounted() {

  },
  created() {
    if (this.title === 'CommunityName') {
      this.$router.push({ name: 'dashboard' }).catch(()=>{});
    }
    else {
      this.initData()
      // this.$watch(() => this.$route.params, this.initData)
    }
  },
}

</script>

<style lang="scss" scoped>
  .comm-card {
    .image-side {

    }
    .title-side {

    }
    @media screen and (max-width: 768px) {
      .image-side {
        max-width: 80px;
      }
      .title-side {
        .comm-title {
            font-size: 22px;
            font-weight: normal;
          &__sub {
            font-size: 16px;
            font-weight: normal;
            //opacity: 50%;
          }
        }
      }
    }
  }
  .gifcard-wrapper {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 auto;
    margin: 5px;
    width: 100%;
    .gifcard {
      flex: 1 0 auto;
      height: 200px;
      min-width: 200px;
      margin: 0 12px 12px 0;
      background-color: #121212;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;
      &.stickers-card {
        background:
            conic-gradient(rgba(0,0,0,0.10) 0deg, rgba(169,169,169, 0.07) 90deg,
                rgba(169,169,169, 0.07) 90deg, rgba(169,169,169, 0.07) 180deg,
                rgba(169,169,169, 0.10) 180deg,rgba(0,0,0,0.15) 270deg,
                rgba(169,169,169, 0.07) 270deg, rgba(169,169,169, 0.07) 360deg) 0 0/60px 60px round;
      }
    }
    @media screen and (max-width: 768px) {
      .gifcard {
        min-width: 50px;
        height: 120px;
      }
    }
  }
</style>
