<template>
  <v-container fluid class="px-0 pt-0">
    <div class="head-promo-block d-flex justify-center">
      <!--            <v-img src="../assets/dash-head-back-image.jpg" alt="head-image"-->
      <!--                   max-width="100%" max-height="400px"-->
      <!--            >-->
      <!--            </v-img>-->
      <h1 style="color: white;">
        Когда жизнь дает тебе лимоны, делай из них
        <a class="without-gradient-purple" @click.prevent="community_route('Мемы', 'mems-image', 'mems')">мемы</a>
      </h1>
      <div class="subgifs-block d-none d-md-flex justify-center">
        <div class="left-gif" @click.prevent="community_route('Праздники', 'events-image', 'party')">
          <v-img
              src="../assets/happy.gif"
          ></v-img>
          <div class="events-info">
            <div class="title">С праздником!</div>
            <div class="description">Красивые гифки-открытки!</div>
          </div>
        </div>
        <div class="right-gif" @click.prevent="community_route('Прозрачные', 'transparency-image', 'transparent')">
          <v-img
              src="../assets/bitcoin.gif"
          ></v-img>
          <div class="events-info">
            <div class="title">Прозрачные стикеры</div>
            <div class="description">Прозрачные гифки-стикеры!</div>
          </div>
        </div>
      </div>

    </div>
    <v-container class="mb-16 container--fluid d-flex flex-column">
      <div class="col">
        <div class="top-tags">
          <vue-horizontal class="horizontal" :displacement="0.5" :button-between="false">
            <template v-slot:btn-prev>
              <svg class="btn-left" viewBox="0 0 24 24">
                <path d="m9.8 12 5 5a1 1 0 1 1-1.4 1.4l-5.7-5.7a1 1 0 0 1 0-1.4l5.7-5.7a1 1 0 0 1 1.4 1.4l-5 5z"/>
              </svg>
            </template>
            <template v-slot:btn-next>
              <svg class="btn-right" viewBox="0 0 24 24">
                <path d="m14.3 12.1-5-5a1 1 0 0 1 1.4-1.4l5.7 5.7a1 1 0 0 1 0 1.4l-5.7 5.7a1 1 0 0 1-1.4-1.4l5-5z"/>
              </svg>
            </template>
            <div class="item" v-for="tag in tags" :key="tag.name">
              <button class="tag">
                  <span class="font-weight-black" @click.prevent="community_route(tag.name, 'hashtag-image', tag.query)">
                    {{ tag.name }}
                  </span>
              </button>
            </div>
          </vue-horizontal>
        </div>
<!--        <div class="top-artists">-->
<!--          <h2 class="mb-7 mt-5 category-title">Топ художников</h2>-->
<!--          <vue-horizontal class="horizontal" :displacement="0.5" :button-between="false">-->
<!--            <template v-slot:btn-prev>-->
<!--              <svg class="btn-left" viewBox="0 0 24 24">-->
<!--                <path d="m9.8 12 5 5a1 1 0 1 1-1.4 1.4l-5.7-5.7a1 1 0 0 1 0-1.4l5.7-5.7a1 1 0 0 1 1.4 1.4l-5 5z"/>-->
<!--              </svg>-->
<!--            </template>-->

<!--            <template v-slot:btn-next>-->
<!--              <svg class="btn-right" viewBox="0 0 24 24">-->
<!--                <path d="m14.3 12.1-5-5a1 1 0 0 1 1.4-1.4l5.7 5.7a1 1 0 0 1 0 1.4l-5.7 5.7a1 1 0 0 1-1.4-1.4l5-5z"/>-->
<!--              </svg>-->
<!--            </template>-->

<!--            <div class="item" v-for="ava in list_of_top_users" :key="ava.avatar">-->
<!--              <button class="tag">-->
<!--                <v-img-->
<!--                    :alt="`${ava.title} avatar`"-->
<!--                    :src="ava.avatar"-->
<!--                ></v-img>-->
<!--                <v-card-text class="title pt-2 pb-0">{{  ava.title  }}</v-card-text>-->
<!--                <v-card-text class="desc pt-0">{{  ava.followers  }}</v-card-text>-->
<!--              </button>-->
<!--            </div>-->
<!--          </vue-horizontal>-->
<!--        </div>-->
        <div class="trend-gifs">
          <div class="d-flex mt-8 mt-md-12 mb-2">
            <div class="icon-block py-2 mr-3">
              <v-img
                  src="../assets/trending-icon-1.svg"
                  max-height="32"
                  max-width="32"
              ></v-img>
            </div>
            <h2 class="category-title">Гифки в тренде</h2>
          </div>
          <vue-horizontal class="horizontal" responsive>
            <div class="item" v-for="(item, i) in gifsTrend" :key="item.id + 'A' + i" v-on:click.prevent="selected(item.id, item.title)">
              <div v-if="isMobile()" class="content">
                <picture>
                  <source type="image/webp" :srcset="`https://media3.giphy.com/media/${item.id}/giphy.webp`">
                  <img :src="`https://media.giphy.com/media/${item.id}/giphy.gif`" :alt="item.title">
                </picture>
                <div class="aspect-ratio"></div>
              </div>
              <vue-freezeframe
                  v-else
                  :srcset="`https://media3.giphy.com/media/${item.id}/giphy.webp`"
                  :src="`https://media.giphy.com/media/${item.id}/giphy.gif`"
                  :options="{
                      trigger: 'hover',
                      responsive: true
                    }"
              />
            </div>
          </vue-horizontal>
          <router-link to="/trends" class="dynamic-link-text" style="text-decoration: none"><div class="d-flex justify-end my-0 my-md-4"><a href="" class="dynamic-link-text"><h4>Больше гиф</h4></a><v-icon>mdi-chevron-right</v-icon></div></router-link>
        </div>
        <div class="trend-gifs">
          <div class="d-flex mt-8 mt-md-12 mb-2">
            <div class="icon-block py-1 mr-3">
              <v-img
                  src="../assets/trending-icon-2.svg"
                  max-height="36"
                  max-width="32"
              ></v-img>
            </div>
            <h2 class="category-title">Популярные гифки</h2>
          </div>
          <vue-horizontal class="horizontal" responsive >
            <div class="item" v-for="(item, i) in gifsPopular" :key="item.id + 'B' + i" v-on:click="selected(item.id, item.title)" >
              <div v-if="isMobile()" class="content">
                <picture>
                  <source type="image/webp" :srcset="`https://media3.giphy.com/media/${item.id}/giphy.webp`">
                  <img :src="`https://media.giphy.com/media/${item.id}/giphy.gif`" :alt="item.title">
                </picture>
                <div class="aspect-ratio"></div>
              </div>
              <vue-freezeframe
                  v-else
                  :srcset="`https://media3.giphy.com/media/${item.id}/giphy.webp`"
                  :src="`https://media.giphy.com/media/${item.id}/giphy.gif`"
                  :options="{
                      trigger: 'hover',
                      responsive: true
                    }"
              />
            </div>
          </vue-horizontal>
          <router-link to="/popular" class="dynamic-link-text" style="text-decoration: none"><div class="d-flex justify-end my-0 my-md-4"><a href="" class="dynamic-link-text" ><h4>Больше гиф</h4></a><v-icon>mdi-chevron-right</v-icon></div></router-link>
        </div>

<!--        video block-->
<!--        <div class="trend-gifs">-->
<!--          <div class="d-flex mt-12 ">-->
<!--            <div class="icon-block py-1 mr-3">-->
<!--              <v-img-->
<!--                  src="../assets/trending-icon-3.svg"-->
<!--                  max-height="32"-->
<!--                  max-width="32"-->
<!--              ></v-img>-->
<!--            </div>-->
<!--            <h2 class="mb-7 category-title">Популярные видео со звуком</h2>-->
<!--          </div>-->
<!--          <div class="video-container d-flex">-->
<!--            <div class="d-flex primary-video-container">-->
<!--              <img class="giphy-gif-img giphy-img-loaded" src="https://media1.giphy.com/media/IEFIuFYgRc7OQlkvH4/giphy.gif?cid=ecf05e472yn5urvncs37xuzggdj67mcht0ex6g6oqwk6qeyd&amp;rid=giphy.gif&amp;ct=v" width="739" height="415.6875" alt="We'll Meet Again" style="background: rgb(153, 51, 255);">-->
<!--            </div>-->
<!--            <div class="d-flex previews-video-rightside">-->
<!--              <div class="first-item">-->
<!--                <img class="giphy-gif-img giphy-img-loaded" src="https://media4.giphy.com/media/2APBqVLI44TAS42eIh/giphy.gif?cid=ecf05e472yn5urvncs37xuzggdj67mcht0ex6g6oqwk6qeyd&amp;rid=giphy.gif&amp;ct=v" width="287" height="161.4375" alt="Drew Jiggling a Cake" style="background: rgb(153, 51, 255);">-->
<!--              </div>-->
<!--              <div class="second-item">-->
<!--                <img class="giphy-gif-img giphy-img-loaded" src="https://media4.giphy.com/media/mHc3YJYG6h7uO46w4n/200.gif?cid=ecf05e472yn5urvncs37xuzggdj67mcht0ex6g6oqwk6qeyd&amp;rid=200.gif&amp;ct=v" width="287" height="161.4375" alt="NEED COFFEE" style="background: rgb(0, 255, 153);">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="d-flex justify-end my-4"><a href="" class="dynamic-link-text" style="color: white; text-decoration: none"><h4>Больше видео</h4></a><v-icon>mdi-chevron-right</v-icon></div>-->
<!--        </div>-->
        <div class="trend-gifs trend-stickers">
          <div class="d-flex mt-8 mt-md-12 mb-md-6">
            <div class="icon-block py-1 mr-3">
              <v-img
                  src="../assets/trending-stickers-icon.png"
                  max-width="30"
              ></v-img>
            </div>
            <h2 class="category-title">Популярные стикеры</h2>
          </div>
          <vue-horizontal class="horizontal" responsive>
            <div class="item" v-for="(item, i) in stickersPopular" :key="item.id + 'C' + i" @click.prevent="selected(item.id, item.title)">
              <div class="item-background">
                <div class="content">
                  <picture>
                    <source type="image/webp" :srcset="`https://media3.giphy.com/media/${item.id}/giphy.webp`">
                    <img :src="`https://media.giphy.com/media/${item.id}/giphy.gif`" :alt="item.title">
                  </picture>
                  <div class="aspect-ratio"></div>
                </div>
              </div>
            </div>
          </vue-horizontal>
          <router-link to="/stickers" class="dynamic-link-text" style="text-decoration: none"><div class="d-flex justify-end mt-0 mt-md-4 mb-10"><a href="" class="dynamic-link-text" style="color: white; text-decoration: none"><h4>Больше стикеров</h4></a><v-icon>mdi-chevron-right</v-icon></div></router-link>
        </div>

        <div class="trend-gifs">
          <div class="d-flex mt-8 mt-md-12 mb-4 mb-md-8">
            <div class="icon-block py-1 mr-3">
              <v-img
                  src="../assets/infinity-icon.png"
                  max-width="30"
              ></v-img>
            </div>
            <h2 class="category-title">Много гиф не бывает</h2>
          </div>
          <div class="loadmore-wrapper" id='loadmore-block'>
            <div v-for="item in gifsGridDashboard" :key="item.name" class="loadmore-item" @click="selected(item.id, item.title)">
              <picture>
                <source type="image/webp" :srcset="`https://media3.giphy.com/media/${item.id}/giphy.webp`">
                <img :src="`https://media.giphy.com/media/${item.id}/giphy.gif`" :alt="item.title">
              </picture>
            </div>
          </div>
        </div>
        <div class="d-flex justify-center load-more-btn my-5">
          <v-btn @click="loadMore">Показать ещё</v-btn>
        </div>
      </div>
    </v-container>
  </v-container>
</template>
<script>
// import VueMasonryWall from "vue-masonry-wall";
import VueHorizontal from 'vue-horizontal';
import { mapGetters } from "vuex";

// import axios from "axios";
// axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';

export default {
  name: "Dashboard",
  components: {VueHorizontal},

  data: () => ({
    title: '',
    loadMoreCount: 10,
    selectedGif: '',

    gif: {},
    searchTerm: "",
    searchTermTrend: "trend",
    searchTermPopular: "top popular",
    searchTermOnTheme: "artists",
    searchTermStickers: "sticker",
    gifs: [],
    gifsTrend: ['', '', '', '', '', '', '', '', '', ''],

    gifsPopular: ['', '', '', '', '', '', '', '', '', ''],
    gifsPopularMin: ['', '', '', '', '', '', '', '', '', ''],

    stickersPopular: ['', '', '', '', '', '', '', '', '', ''],
    gifsOnTheme: [],

    gifsGridDashboard: [],
    gifsMore: [],

    selectedFile: null,

    apiKey: "ce336YkH2segK8ceZr3HI2Lt3YraZCho",
    searchEndPoint: "https://api.giphy.com/v1/gifs/search?",
    searchEndPointStickers: "https://api.giphy.com/v1/stickers/search?",

    previous: [{
      title: 'Travis Howard',
      avatar: 'https://cdn.vuetifyjs.com/images/lists/5.jpg',
    }],
    tags: [
      {name: 'Смешно', query: 'Funny'}, {name: 'Фейл', query: 'Fake'}, {name: 'Нет', query: 'No'}, {name: 'День рождения', query: 'Birth Day'},
      {name: 'Рождество', query: 'Christmas'}, {name: 'Новый год', query: 'New Year'}, {name: 'Свадьба', query: 'Wedding'}, {name: 'Да', query: 'Yes'},
      {name: 'Csgo', query: 'csgo'}, {name: 'Коронавирус', query: 'Coronavirus'}, {name: 'Люблю тебя', query: 'Love you'}, {name: 'Счастье', query: 'Happiness'}, {name: 'Дружба', query: 'Friendship'},
      {name: 'Страх', query: 'Fear'}, {name: 'Кино', query: 'Movie'}, {name: 'Марвел', query: 'Marvel'}, {name: 'Привет', query: 'Hello'}, {name: 'Котики', query: 'Caty'},
      {name: 'Танец', query: 'Dance'}, {name: 'Шок', query: 'Shock'}, {name: 'Поцелуй', query: 'Kiss'},
      {name: 'Авто', query: 'Auto'}, {name: 'Болею', query: 'Sick'}
    ],
  }),
  watch: {
  },

  computed: {
    // map `this.user` to `this.$store.getters.user`
    ...mapGetters({
      user: "user"
    }),
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    }
  },
  methods: {
    isMobile() {
      return screen.width <= 760;
    },
    selected(id, title) {
      // bus.$emit('selectedGif', this.selectedGif);
      const first2WordsName = title.split(' ').slice(0, 2).join(' ');
      let selectedUrl = `https://media.giphy.com/media/${id}/giphy.gif`
      this.$router.push({ name: 'details', params: {selected: selectedUrl, id: id, selectedTitle: first2WordsName} }).catch(()=>{});
    },

    community_route(title, pic, community_query) {
      // console.log(this.selectedCommunity)
      this.$router.push({ name: 'community', path: '/community/:id', params: { id: community_query, title: title, picture: pic, sameGifs: community_query  }}).catch(()=>{})
    },
    // buildGifsTrend(json) {
    //   this.gifsTrend = json.data.map(gif => gif.id).map(gifId => {
    //     return gifId;
    //   });
    // },
    // buildGifsPopular(json) {
    //   this.gifsPopular = json.data.map(gif => gif.id).map(gifId => {
    //     return `https://media.giphy.com/media/${gifId}/giphy.gif`;
    //   });
    // },
    // buildStickerPopular(json) {
    //   this.stickersPopular = json.data.map(gif => gif.id).map(gifId => {
    //     return `https://media.giphy.com/media/${gifId}/giphy.gif`;
    //   });
    // },
    // buildGifsOnTheme(json) {
    //   this.gifsOnTheme = json.data.map(gif => gif.id).map(gifId => {
    //     return `https://media.giphy.com/media/${gifId}/giphy.gif`;
    //   });
    //   console.log(this.gifsOnTheme)
    // },
    showGiphyTrend() {
      let limit = 10;
      let url = `https://api.giphy.com/v1/gifs/trending?api_key=${this.apiKey}&limit=${limit}`;
      fetch(url)
          .then(res => res.json())
          .then(obj => {
            return this.gifsTrend = obj.data;})
      .catch(err => console.log(err));
    },
    showGiphyPopular() {
      let limit = 10;
      fetch(`https://api.giphy.com/v1/gifs/trending?api_key=ce336YkH2segK8ceZr3HI2Lt3YraZCho&limit=${limit}`)
          .then((res) => { return res.json(); })
          .then((obj) => { this.gifsGridDashboard = obj.data; });
      let url = `https://api.giphy.com/v1/gifs/trending?api_key=${this.apiKey}&limit=${limit}&offset=250`;
      fetch(url)
          .then(res => {return res.json();})
          .then(obj => {this.gifsPopular = obj.data;})
          .catch(err => console.log(err));
    },
    showStickersPopular() {
      let limit = 10;
      let url = `${this.searchEndPoint}&api_key=${this.apiKey}&q=${this.searchTermStickers}&limit=${limit}`;
      fetch(url)
          .then(res => {return res.json();})
          .then(res => {this.stickersPopular = res.data;})
          .catch(err => console.log(err));
    },
    checkColorScheme(val) {
      if(val) return "Ночь"
      else return "День"
    },
    loadMore() {
      this.loadMoreCount = this.loadMoreCount + 10;

      fetch(`https://api.giphy.com/v1/gifs/trending?api_key=ce336YkH2segK8ceZr3HI2Lt3YraZCho&offset=${this.loadMoreCount}&limit=10`)
        .then((res) => { return res.json();})
        .then((obj) => { this.gifsMore = obj.data;})
        .then(() => {

          this.gifsMore.forEach( (item) => {
            let div = document.createElement('div');
            div.classList.add("loadmore-item");
            div.onclick = () => {
              const first2WordsName = item.title.split(' ').slice(0, 2).join(' ');
              let selectedUrl = `https://media.giphy.com/media/${item.id}/giphy.gif`
              this.$router.push({ name: 'details', params: {selected: selectedUrl, id: item.id, selectedTitle: first2WordsName} }).catch(()=>{});
            }
            div.innerHTML = `
                <picture>
                <source type="image/webp" srcset="https://media3.giphy.com/media/${item.id}/giphy.webp">
                <img src="https://media.giphy.com/media/${item.id}/giphy.gif" alt="${item.title}">
              </picture>
            `;
            document.getElementById('loadmore-block').appendChild(div);
            // console.log(item)
          })
        });

    }
  },
  mounted() {
    this.showGiphyTrend();
    this.showGiphyPopular();
    this.showStickersPopular();
  },
  beforeMount() {

  },
  created() {
    this.isMobile()
  }

}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.v-main {
  padding-top: 0 !important;
  .head-promo-block {
    padding: 0 20px;
    min-height: 320px;
    background: url('../assets/dash-head-back-image-2.jpeg') no-repeat center center;
    background-size: cover;
    flex-direction: column;
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 768px) {
      min-height: auto;
      padding: 40px 20px;
      h1 {
        font-size: 24px;
        line-height: normal;
        margin: 0;
      }
    }
    .subgifs-block {
      width: 100%;
      min-height: 200px;
      .left-gif {
        position: relative;
        border-radius: 4px;
        width: 320px;
        height: 200px;
        margin: 0 8px;
        background: url('../assets/head-gifs-background.gif');
        overflow: hidden;
        border-bottom: 5px solid #56c6c4;
        cursor: pointer;

        .v-image {
          height: 200px;
          width: 100%;
        }
        .events-info {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding: 10px 20px 10px;
          height: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1;
          text-align: center;
          background: linear-gradient(180deg, rgba(#121212, 0.05) 40%, rgba(#121212, 1) 100%);

          .title {
            font-size: 1.5rem !important;
            font-weight: 900;
            color: white !important;
          }
          .description {
            color: white !important;
          }
        }
      }
      .right-gif {
        @extend .left-gif;
        border-bottom: 5px solid #ff59fe;
        cursor: pointer;
        .v-image {
          width: 50%; height: auto;
          margin: 0 auto;
        }
        background: #121212;
        .events-info {
          background:
              conic-gradient(rgba(0,0,0,0.10) 0deg, rgba(169,169,169, 0.07) 90deg,
                  rgba(169,169,169, 0.07) 90deg, rgba(169,169,169, 0.07) 180deg,
                  rgba(169,169,169, 0.10) 180deg,rgba(0,0,0,0.15) 270deg,
                  rgba(169,169,169, 0.07) 270deg, rgba(169,169,169, 0.07) 360deg) 0 0/60px 60px round;
          .title {
          }
          .description {
          }
        }
      }
    }
  }

  .top-tags {
    padding: 24px 0;
    .tag {
      border: 1px solid #e2e8f0;
      border-radius: 3px;
      line-height: 1;
      padding: 8px 24px;
      margin-right: 12px;
      font-size: 14px;
      font-weight: 200 !important;
      &:hover {
        //background: linear-gradient(to right, #d7a039, #ed6210 0%, #a015a0 97.48%);
        color: #8300be;
        border-color: #8300be;
      }
    }
    .btn-left, .btn-right {
      padding: 5px;
      height: 100%;
    }
    .btn-left {
      fill: white;
      background: linear-gradient(to left, rgba(#121212, 0) 0, rgba(#121212, 0.75)  40%, rgba(#121212, 1) 100%);
    }
    .btn-right {
      fill: white;
      background: linear-gradient(to right, rgba(#121212, 0) 0, rgba(#121212, 0.75)  40%, rgba(#121212, 1) 100%);
    }
    @media screen and (max-width: 768px) {
      padding: 0;
    }
  }
  .top-artists {
    padding: 0 20px;
    .tag {
      position: relative;
      //color: #777;
      //border: 2px solid transparent;
      border-radius: 4px;
      padding: 2px;
      margin-right: 12px;
      cursor: pointer;
      transition: all 0.3s ease;
      overflow: hidden;
      text-align: start;
      .v-image {
        //display: none;
        height: 150px; width: 120px;
        border-radius: 4px;
        overflow: hidden;
        border: 3px solid transparent;

        &:hover {
          animation: colors 1s ease infinite;

          //background-color: #663dff;
          //border: 2px solid transparent;
          animation-direction: alternate;
          background: linear-gradient(310deg, #7d5fee 0%, #b72bff 33%, #ff2eb0 66%, #d7a039 100%);
          transform: scale(1.03);

          //.v-card__text {
          //  bottom: 0px; left: 4px;
          //}
        }
      }
      .v-card__text {
        padding: 4px 0;
        &.title {
          font-size: 16px !important;
          line-height: 1.2;
        }
        &.desc {
          font-size: 14px;
        }
      }
    }
    .btn-left, .btn-right {
      padding-bottom: 40%;
      height: 100%;
      width: 70px;
    }
    .btn-left {
      fill: white;
      background: linear-gradient(to left, rgba(#121212, 0) 0, rgba(#121212, 0.75)  40%, rgba(#121212, 1) 100%);
      padding-right: 24px;
      padding-left: 0;
      //background: none !important;
    }
    .btn-right {
      padding-right: 0;
      padding-left: 24px;
      fill: white;
      background: linear-gradient(to right, rgba(#121212, 0) 0, rgba(#121212, 0.75)  40%, rgba(#121212, 1) 100%);
    }
  }
  .trend-gifs {
    padding: 0 20px;
    .item {
      min-width: 300px;
      margin-right: 12px;
      margin-top: 20px;
      margin-bottom: 20px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      height: 180px;
      overflow: hidden;
      animation: all 2s ease-in-out;

      &:hover {
        z-index: 99;
        cursor: pointer;
        transform: translateY(-7px) translateX(7px) scale(1.05);
        border-bottom: 5px solid #7d5fee;
        border-left: 5px solid #7d5fee;
      }
      //.content {
      //  cursor: pointer;
      //  overflow: hidden;
      //  position: relative;
      //  bottom: 0;
      //}
    }
    &.trend-stickers {
      .item {
        margin-right: 12px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
        //border-radius: 5px;
        overflow: hidden;
        background:
            conic-gradient(rgba(0,0,0,0.10) 0deg, rgba(169,169,169, 0.07) 90deg,
                rgba(169,169,169, 0.07) 90deg, rgba(169,169,169, 0.07) 180deg,
                rgba(169,169,169, 0.10) 180deg,rgba(0,0,0,0.15) 270deg,
                rgba(169,169,169, 0.07) 270deg, rgba(169,169,169, 0.07) 360deg) 0 0/60px 60px round;
        .item-background {
          overflow: hidden;
          padding: 10px 60px;
          .content {
            //background-size: 50% !important;
          }
        }
      }
    }
    .vue-horizontal {
      & >>> .v-hl-btn {
        display: flex;
      }
    }
    @media screen and (max-width: 768px) {
      padding: 0;
      .category-title {
        display: flex;
        font-size: 20px;
        line-height: 1.75;
      }
      .item {
        min-width: 200px !important;
      }
    }
  }

  .top-users-block {
    padding: 0 20px;
    .list-title {
      //font-size: 16px;
      font-weight: 500;
    }
    .v-btn {
      height: initial;
      padding: 0;
      span {
        font-size: 10px;
        line-height: 1.2;
        padding: 2px;
        text-transform: initial;
      }
    }
  }

  //.video-container {
  //  -webkit-box-pack: justify;
  //  justify-content: space-between;
  //  width: 100%;
  //  height: 400px;
  //
  //  .primary-video-container {
  //    flex-direction: column;
  //    background: rgb(0, 255, 153);
  //    width: 73%;
  //    border-radius: 5px;
  //    margin-right: 12px;
  //    overflow: hidden;
  //  }
  //  .previews-video-rightside {
  //    flex-direction: row;
  //    //justify-content: space-between;
  //    align-content: space-between;
  //    flex-wrap: wrap;
  //    width: 27%;
  //
  //    .first-item {
  //      width: 100%;
  //      background: rgb(255, 102, 102);
  //      border-radius: 5px;
  //      overflow: hidden;
  //      height: calc(50% - 6px);
  //      margin-bottom: 12px;
  //
  //    }
  //    .second-item {
  //      @extend .first-item;
  //      background: rgb(255, 243, 92);
  //      margin-bottom: 0;
  //    }
  //  }
  //}
}

.loadmore-wrapper {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  overflow: hidden;
  //margin-left: -10px; /* Adjustment for the gutter */
  width: 100%;
  &:after {
    content: "";
    flex: 1 1 100%;
    max-width: 62%;
  }
  .loadmore-item {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    height: 200px;
    min-width: 150px;
    margin: 0 12px 12px 0; /* Some gutter */
    background-color: #121212;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    overflow: hidden;
    &:hover {
      cursor: pointer;
    }
  }
  @media screen and (max-width: 768px) {
    .loadmore-item {
      min-width: 50px;
      height: 120px;
    }
  }
}

a {
  &.dynamic-link-text {
    color: var(--v-text_primary-base) !important;
    text-decoration: none;
  }
}
.v-app-bar {
  max-height: 64px;
  &#dash-header {
    background: var(--v-blocks_darkwhite_header-base) !important;
    position: sticky;
  }
}

.head-search-input {
  border-radius: 4px 0 0 4px !important;
}
.searchBtn {
  height: 38px !important;
  border-radius: 0 4px 4px 0 !important;
  box-shadow: none !important;
}
.side-bar-head-block {
  position: sticky !important;
  top: 0;
  left: 0;
  z-index: 10;
  background: var(--v-blocks_darkwhite-base) !important;
  //background: var(--v-primary-base) !important;
}

.without-gradient-purple {
  color: #00FF84!important;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// night/day switch
.v-input--selection-controls__input {
  transition: 0.1s cubic-bezier(0.25, 0.8, 0.5, 1);
  &:hover {
    .v-input--selection-controls__ripple {
      display: none;
    }
  }
  .v-input--switch__track {
    opacity: 1 !important;
    background: #2f3640;
    &.white--text {

    }
    &::before {
      content: "";
      background: url('../assets/moon.svg') no-repeat;
      width: 16px;
      height: 16px;
      display: inline-block;
      margin-left: 4px;
      margin-top: 6px;
    }
    &::after {
      content: "";
      background: url('../assets/sun.svg') no-repeat;
      width: 16px;
      height: 16px;
      display: inline-block;
      margin-left: 6px;
      margin-top: 6px;
    }
  }
}

</style>
