<template>
  <v-container class="mt-7" id="gifdetails">
    <div class="row justify-center align-content-end">
      <div class="col-12 col-md-8 gif-details-left-side">
        <div class="gifwrapper d-flex">
          <v-img :src="selected" contain>
          </v-img>
        </div>
        <div class="gif-buttons-block">
            <div class="social-btns">
<!--              <v-btn class="btn"><v-img src="../assets/vk-icon.svg" max-width="22"></v-img><span>VK</span></v-btn>-->
<!--              <v-btn class="btn"><v-icon>mdi-facebook</v-icon><span>Facebook</span></v-btn>-->
              <v-btn class="btn download-btn" color="purple" @click.prevent="downloadGif(selected, selectedTitle)"><v-icon>mdi-download</v-icon>
                Скачать
              </v-btn>
<!--              <v-menu-->
<!--                  top-->
<!--                  :offset-y="offset"-->
<!--              >-->
<!--                <template v-slot:activator="{ on, attrs }">-->
<!--                  <v-btn-->
<!--                      v-bind="attrs"-->
<!--                      v-on="on"-->
<!--                      class="drop-menu-btn"-->
<!--                  >-->
<!--                    <v-icon>mdi-dots-horizontal</v-icon>-->
<!--                  </v-btn>-->
<!--                </template>-->
<!--                <v-list class="more-list">-->
<!--                  <v-list-item>-->
<!--                    <v-icon>mdi-account-supervisor-circle</v-icon><p>Одноклассники</p>-->
<!--                  </v-list-item>-->
<!--                  <v-list-item>-->
<!--                    <v-icon>mdi-twitter</v-icon><p>Twitter</p>-->
<!--                  </v-list-item>-->
<!--                  <v-list-item>-->
<!--                    <v-icon>mdi-alpha-t-circle</v-icon><p>Tumblr</p>-->
<!--                  </v-list-item>-->
<!--                  <v-list-item>-->
<!--                    <v-icon>mdi-reddit</v-icon><p>Reddit</p>-->
<!--                  </v-list-item>-->
<!--                  <v-list-item>-->
<!--                    <v-icon>mdi-pinterest</v-icon><p>Pinterest</p>-->
<!--                  </v-list-item>-->
<!--                  <v-list-item>-->
<!--                    <v-icon>mdi-email</v-icon><p>E-mail</p>-->
<!--                  </v-list-item>-->
<!--                  <v-list-item>-->
<!--                    <v-icon>mdi-xml</v-icon><p>Embed</p>-->
<!--                  </v-list-item>-->

<!--                  <v-list-item>-->
<!--                    <v-icon>mdi-link</v-icon><p>Ссылка</p>-->
<!--                  </v-list-item>-->

<!--                </v-list>-->
<!--              </v-menu>-->
            </div>
        </div>
      </div>
      <div class="d-none d-md-block col-md-4 col-lg-3 gif-details-right-side">
        <div class="gif-desc-wrapper">
          <a href="https://coursebook.ru/">
            <v-img
                src="../assets/coursebook-banner.png"
                lazy-src="../assets/coursebook-banner-min.png"
                alt="https://coursebook.ru/">

            </v-img>
          </a>
<!--            <div class="author-card">-->
<!--              <div class="d-flex align-center">-->
<!--                <div class="author-avatar"></div>-->
<!--                <div class="social-icons">-->
<!--                  <v-icon>mdi-facebook</v-icon>-->
<!--                  <v-icon>mdi-twitter</v-icon>-->
<!--                  <v-icon>mdi-linkedin</v-icon>-->
<!--                  <v-icon>mdi-instagram</v-icon>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="d-flex justify-space-between align-start bottom-desc">-->
<!--                <div class="left-side">-->
<!--                  <span class="author-name">John Rambo</span>-->
<!--                  <p class="author-gifs-count">20 гифок</p>-->
<!--                </div>-->
<!--                <div class="right-side">-->
<!--                  <button class="btn" role="button">Подписаться</button>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="works-title mt-4">-->
<!--              <span>Другие работы автора</span>-->
<!--            </div>-->
<!--            <div class="author-works">-->
<!--                <div class="work-images"></div>-->
<!--                <div class="work-images"></div>-->
<!--                <div class="work-images"></div>-->
<!--                <div class="work-images"></div>-->
<!--                <div class="work-images"></div>-->
<!--                <div class="work-images"></div>-->
<!--                <div class="work-images"></div>-->
<!--                <div class="work-images"></div>-->
<!--                <div class="work-images"></div>-->
<!--                <div class="work-images"></div>-->
<!--                <div class="work-images"></div>-->
<!--                <div class="work-images"></div>-->
<!--                <div class="work-images"></div>-->
<!--                <div class="work-images"></div>-->
            </div>
<!--        </div>-->
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="same-gifs-title d-flex">
          <v-img
            src="../assets/duplicate-icon.png"
            max-height="30"
            max-width="30"
            class="mr-3"
        ></v-img>
          <span>Похожие гифки</span></div>
      </div>
    </div>
    <div class="same-gifs-wrapper" id="loadmore-block">
      <div v-for="(item, i) in samegifs" :key="item.id + 'details' + i" class="gif-item" @click.prevent="selectedGif(item.id, item.title)">
        <picture>
          <source type="image/webp" :srcset="`https://media3.giphy.com/media/${item.id}/giphy.webp`">
          <img :src="`https://media.giphy.com/media/${item.id}/giphy.gif`" :alt="item.title">
        </picture>
      </div>
    </div>
    <div class="d-flex justify-center load-more-btn my-5">
      <v-btn @click="loadMore">Показать ещё</v-btn>
    </div>
  </v-container>
</template>

<script>
// import {bus} from '../main.js';

import axios from 'axios';
import {mapGetters} from "vuex";
axios.defaults.withCredentials = true;

// import {saveAs} from 'file-saver';
export default {

  name: "GifDetails",
  props: ["query", "gifs", "selected", "selectedTitle", "id"],
  data: () => ({
    offset: true,
    samegifs: [],
    urlLink: '',
    searchEndPoint: "https://api.giphy.com/v1/gifs/search?",
    loadMoreCount: 25,
    moreGifsArr: [],
  }),

  created() {
    window.scrollTo(0,0);
  },
  updated() {
    window.scrollTo(0,0);
  },
  beforeMount() {
    this.showSame();
    if (this.selected === undefined) {
      this.$router.push({ name: 'dashboard' }).catch(()=>{});
    }
  },

  mounted() {
    // this.$emit('query', this.query)
    // console.log(this.gifs)
  },

  beforeUpdate() {
  },


  methods: {
    async showSame() {
      this.samegifs = [];
      // this.stickers = [];
      let limit = 10;
      console.log(this.selectedTitle)
      await fetch('https://api.giphy.com/v1/gifs/search?q=' + `${this.selectedTitle}` +'&api_key=yBaPncwkPpItSTrjP46PbHBZ6xeWXX7z'+`&limit=${limit}`)
          .then((res) => { return res.json(); })
          .then((res) => { this.samegifs = res.data; });
    },
    selectedGif(id, title) {
      const first2WordsName = title.split(' ').slice(0, 2).join(' ');
      let selectedUrl = `https://media.giphy.com/media/${id}/giphy.gif`
      this.$router.push({ name: 'details', path: '/details', params: {selected: selectedUrl, id: id, selectedTitle: first2WordsName} }).catch(()=>{});
    },
    downloadGif (url, name) {
      fetch(url)
          .then(resp => resp.blob())
          .then(blob => {
            if(this.user.loggedIn) {
              const url = window.URL.createObjectURL(blob);
              const a = document.createElement('a');
              a.style.display = 'none';
              a.href = url;
              a.download = name + ' (gifs.ru).gif';
              document.body.appendChild(a);
              a.click();
              window.URL.revokeObjectURL(url);
            }
            else {
              alert("Выполните вход или зарегистрируйтесь")
            }
          })
          .catch(() => alert('An error sorry'));
    },
    loadMore() {
      this.loadMoreCount = this.loadMoreCount + 10;
      fetch(`${this.searchEndPoint}&api_key=ce336YkH2segK8ceZr3HI2Lt3YraZCho&q=${this.selectedTitle}&offset=${this.loadMoreCount}&limit=10`)
        .then((res) => { return res.json();})
        .then((res) => { this.moreGifsArr = res.data;})
        .then(() => {
          this.moreGifsArr.forEach((item) => {
            let div = document.createElement('div');
            div.classList.add("gif-item");
            div.onclick = () => {
              const first2WordsName = item.title.split(' ').slice(0, 2).join(' ');
              let selectedUrl = `https://media.giphy.com/media/${item.id}/giphy.gif`
              this.$router.push({ name: 'details', params: {selected: selectedUrl, id: item.id, selectedTitle: first2WordsName} }).catch(()=>{});
            };
            div.innerHTML = `
             <picture>
              <source type="image/webp" srcset="https://media3.giphy.com/media/${item.id}/giphy.webp">
              <img src="https://media.giphy.com/media/${item.id}/giphy.gif" alt="${item.title}">
            </picture>
          `;
            document.getElementById('loadmore-block').appendChild(div);
            // console.log(item)
          })
        });
    }
  },

  computed: {
    // map `this.user` to `this.$store.getters.user`
    ...mapGetters({
      user: "user"
    })
  },
}
</script>

<style lang="scss">
  #gifdetails {
    .gif-details-left-side {
      .gifwrapper {
        width: 100%; max-height: calc(500px - 64px);
        background: #1b1b1b;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-radius: 5px;
        margin-bottom: 20px;
        overflow: hidden;
        .v-image__image { background-size: contain !important; }
      }
      .gif-buttons-block {
        width: 100%;
        padding: 16px;
        background: #1b1b1b;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-radius: 5px;
        .social-btns {
          //margin-left: 20px;
          .btn {
            margin-left: 10px;
            padding: 4px 14px;
            border-radius: 3px;
            border: 0 !important;
            box-shadow: 0 1px 3px rgba(0,0,0,0.19), 0 1px 2px rgba(0,0,0,0.23);
            &:nth-child(1) {
              background-color: #212121;
            }
            span {
              font-size: 12px;
              margin-left: 4px;
            }
            i {
              &:nth-child(n) {
                font-size: 20px;
                cursor: pointer;
              }
            }
            &.download-btn {
              border: 1px solid #777777;
            }
          }

          .drop-menu-btn {
            //height: auto;
            min-width: auto;

            margin-left: 10px;
            i {
              padding: 0;
              font-size: 20px;
            }
          }
        }
      }
    }

    .gif-details-right-side {

      .gif-desc-wrapper {
        overflow: hidden;
        background: #1b1b1b;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-radius: 5px;
        //background-size: cover;
        //.author-card {
        //  padding: 16px;
        //  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        //  .author-avatar {
        //    width: 50px; height: 50px;
        //    border-radius: 50%;
        //    background-color: #7d5fee;
        //  }
        //  .social-icons {
        //    margin-left: 20px;
        //    :nth-child(n) {
        //      margin-left: 8px;
        //      font-size: 22px;
        //      cursor: pointer;
        //    }
        //  }
        //
        //  .bottom-desc {
        //    margin-top: 15px;
        //    .left-side {
        //      span {
        //        &.author-name {
        //          font-size: 14px;
        //          font-weight: 400;
        //        }
        //      }
        //      p {
        //        &.author-gifs-count {
        //          font-size: 12px;
        //          font-weight: 400;
        //        }
        //      }
        //
        //
        //    }
        //    .right-side {
        //      .btn {
        //        padding: 4px 8px;
        //        background-color: #7d5fee;
        //        color: white;
        //        font-size: 12px;
        //        border-radius: 3px;
        //      }
        //    }
        //  }
        //}
      }
      //.works-title {
      //  font-size: 14px;
      //  padding: 0 4px;
      //}
      //.author-works {
      //  display: flex;
      //  flex-wrap: wrap;
      //  margin-top: 6px;
      //  margin-bottom: 20px;
      //  .work-images {
      //    width: 50px; height: 40px;
      //    margin: 4px;
      //    border-radius: 2px;
      //    background-color: #777777;
      //  }
      //}
    }

    .same-gifs-title {
      margin-top: 30px;
      span {
        font-size: 22px;
        font-weight: 400;
      }
    }

    .same-gifs-wrapper {
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-flow: row wrap;
      flex: 1 0 auto;
      width: 100%;
      margin-top: 20px;
      &:after {
        content: "";
        flex: 1 1 100%;
        max-width: 62%;
      }
      .gif-item {
        flex: 1 0 auto;
        height: 200px;
        min-width: 200px;
        margin: 0 12px 12px 0; /* Some gutter */
        background-color: #121212;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
      }
      @media screen and (max-width: 768px) {
        .gif-item {
          min-width: 50px;
          height: 120px;
        }
      }
    }
  }


</style>
