<template>
  <div class="container">
    <div class="row justify-center text-center">
      <div class="col-12 col-sm-8 col-lg-6 col-xl-4">
        <v-img src="../assets/404.svg" class="img-fluid" alt=""></v-img>
        <div class="notfound-title mb-5">
          <span class="text--accent-1">Тут гифок нет, друг!</span>
        </div>
        <v-btn color="#F3176D"><router-link tag="span" to="/">На главную</router-link></v-btn>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NotFound",
}
</script>

<style lang="scss" scoped>
  .notfound-title {
    span {
      font-size: 2.5em;
    }
  }
  .v-image {
    max-width: 100%;
    height: auto;
  }
  @media screen and (max-width: 992px) {
    .notfound-title {
      span {
        font-size: 2em;
      }
    }
  }

</style>
