<template>
  <div class="page-loader" v-if="!isloaded">
    <img src="../assets/preloader.gif" @load="onIconLoad" alt="preloader">
    <span v-if="isIconLoaded">GIFS</span>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      isloaded: false,
      isIconLoaded: false,
    }
  },
  methods: {
    onIconLoad()  {
      this.isIconLoaded = true
    }
  },
  mounted() {
    document.onreadystatechange = () => {
      setTimeout(() => {
        if (document.readyState === "complete") {
          this.isloaded = true;
        }
      }, 3500)
    }
  },
}
</script>

<style lang="scss" scoped>

.page-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #030303;
  z-index: 999;
  img {
    max-width: 15vw; height: auto;
  }
  span {
    font-family: Roboto, sans-serif;
    font-size: 2em;
    font-weight: 900;
  }
  @media screen and (max-width: 992px) {
    img {
      max-width: 40vw;
    }
    span {
      font-size: 1.5em;
    }
  }
}

</style>
