<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card class="pa-4 mt-3 head-title-block">
          <div class="d-flex">
            <div class="icon-block py-1 mr-3">
              <v-img
                  src="../assets/trending-icon-2.svg"
                  max-height="32"
                  max-width="32"
              ></v-img>
            </div>
            <h2 class="title-block">Все популярные гифки</h2>
          </div>
        </v-card>
      </v-col>
      <v-col cols="12" class="">
        <div class="gifcard-wrapper" id="loadmore-block">
          <div v-for="item in gifsPopular" :key="item.id + 'popular'" class="gifcard" @click.prevent="selected(item.id, item.title)">
            <picture>
              <source type="image/webp" :srcset="`https://media3.giphy.com/media/${item.id}/giphy.webp`">
              <img :src="`https://media.giphy.com/media/${item.id}/giphy.gif`" :alt="item.title">
            </picture>
          </div>
        </div>
      </v-col>
    </v-row>
    <div class="d-flex justify-center load-more-btn my-5">
      <v-btn @click="loadMore">Показать ещё</v-btn>
    </div>
  </v-container>
</template>

<script>
export default {
  name: "PopularPage",

  data: () => ({
    gifsPopular: [],
    termPopular: "popular new year",
    searchEndPoint: "https://api.giphy.com/v1/gifs/search?",
    count: 15,
    apiKey: "ce336YkH2segK8ceZr3HI2Lt3YraZCho",
    moreGifsArr: []
  }),

  methods: {
    // buildGifsPopular(json) {
    //   this.gifsPopular = json.data.map(gif => gif.id).map(gifId => {
    //     return `https://media.giphy.com/media/${gifId}/giphy.gif`;
    //   });
    // },
    showGiphyPopular() {
      let limit = 15;
      let url = `https://api.giphy.com/v1/gifs/trending?api_key=${this.apiKey}&limit=${limit}&offset=150`;
      fetch(url)
          .then(res => {return res.json();})
          .then(res => {this.gifsPopular = res.data})
          .catch(err => console.log(err));
    },
    selected(id, title) {
      const first2WordsName = title.split(' ').slice(0, 2).join(' ');
      let selectedUrl = `https://media.giphy.com/media/${id}/giphy.gif`
      this.$router.push({ name: 'details', path: '/details', params: {selected: selectedUrl, id: id, selectedTitle: first2WordsName} }).catch(()=>{});
    },
    loadMore() {
      this.count = this.count + 10;

      fetch(`${this.searchEndPoint}&api_key=ce336YkH2segK8ceZr3HI2Lt3YraZCho&q=${this.termPopular}&offset=${150 + this.count}&limit=10`)
          .then((res) => { return res.json();})
          .then((res) => { this.moreGifsArr = res.data;})
          .then(() => {
            this.moreGifsArr.forEach((item) => {
              let div = document.createElement('div');
              div.classList.add("gifcard");
              div.onclick = () => {
                const first2WordsName = item.title.split(' ').slice(0, 2).join(' ');
                let selectedUrl = `https://media.giphy.com/media/${item.id}/giphy.gif`
                this.$router.push({ name: 'details', params: {selected: selectedUrl, id: item.id, selectedTitle: first2WordsName} }).catch(()=>{});
              }
              div.innerHTML = `
               <picture>
                <source type="image/webp" srcset="https://media3.giphy.com/media/${item.id}/giphy.webp">
                <img src="https://media.giphy.com/media/${item.id}/giphy.gif" alt="${item.title}">
              </picture>
            `;
              document.getElementById('loadmore-block').appendChild(div);
              // console.log(item)
            })
          });
    }
  },
  mounted() {
    this.showGiphyPopular();
  }

}
</script>

<style lang="scss" scoped>
  .gifcard-wrapper {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 auto;
    width: 100%;
    &:after {
      content: "";
      flex: 1 1 100%;
      max-width: 62%;
    }
    .gifcard {
      flex: 1 0 auto;
      height: 200px;
      min-width: 200px;
      margin: 0 12px 12px 0; /* Some gutter */
      background-color: #121212;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;
    }
    @media screen and (max-width: 768px) {
      .gifcard {
        min-width: 50px !important;
        height: 120px !important;
      }
    }
  }
</style>
