<template>
  <div
      class="mr-0 ml-md-5 head-search-input-container d-flex"
  >
    <v-text-field
        dense
        flat
        hide-details
        rounded
        solo-inverted
        v-model="query"
        clearable
        solo
        style="border-radius: 5px"
        class="head-search-input"
        placeholder="Найти гиф + @пользователя, #тег или стикер"
        v-on:keypress.enter="searchRequest"
    ></v-text-field>
    <v-btn class="searchBtn mr-0 mr-lg-3 d-none d-md-block" style="font-size: 0.75rem" @click="searchRequest"><v-icon>mdi-magnify</v-icon></v-btn>
  </div>

</template>

<script>
export default {
  name: "SearchComponent",
  data() {
    return {
      query: '',
    }
  },
  methods: {
    searchRequest(){
      if (this.query) {
        this.$emit('doSearchRequest', this.query);
      }
      else {
        this.$router.push({ name: 'nofind', path: `/emptysearch`}).catch(()=>{})
      }
    }
  }
}
</script>

<style lang="scss">
  .head-search-input-container {
    width: 60%;
    @media (max-width: 1200px) {
      width: 50%;
    }
    @media (max-width: 900px) {
      width: 70%;
    }
    @media (max-width: 768px) {
      .v-text-field {
        border-radius: 4px !important;

        &.v-input--is-focused {
          position: absolute;
          z-index: 10;
          left: 0; top: 0;
          width: 100vw;
          border-radius: 0 !important;

          .v-input__slot {
            min-height: 56px;
          }
        }
      }
    }
    .v-text-field {
      //&:focus {
      //  position: absolute;
      //  z-index: 5;
      //  left: 0;
      //  width: 100%;
      //}
    }
  }
</style>
