<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card class="pa-4 mt-3 head-title-block">
          <div class="d-flex">
            <div class="icon-block py-0 mr-3">
              <v-img
                  src="../assets/trending-stickers-icon.png"
                  max-width="30"
              ></v-img>
            </div>
            <h2 class="title-block">Много классных стикеров</h2>
          </div>
        </v-card>
      </v-col>
      <v-col cols="12" class="">
        <div class="gifcard-wrapper" id="loadmore-block">
          <div v-for="item in stickerPopular" :key="item.id + 'stickers'" class="gifcard stickers-card" @click.prevent="selected(item.id, item.title)">
            <picture>
              <source type="image/webp" :srcset="`https://media3.giphy.com/media/${item.id}/giphy.webp`">
              <img :src="`https://media.giphy.com/media/${item.id}/giphy.gif`" :alt="item.title">
            </picture>
          </div>
        </div>
      </v-col>
    </v-row>
    <div class="d-flex justify-center load-more-btn my-5">
      <v-btn @click="loadMore">Показать ещё</v-btn>
    </div>
  </v-container>

</template>

<script>
export default {
  name: "StickersPage",

  data: () => ({
    stickerPopular: [],
    termPopular: "stickers",
    searchEndPoint: "https://api.giphy.com/v1/gifs/search?",
    count: 15,
    moreGifsArr: []
  }),

  methods: {
    // buildGifsPopular(json) {
    //   this.stickerPopular = json.data.map(gif => gif.id).map(gifId => {
    //     return `https://media.giphy.com/media/${gifId}/giphy.gif`;
    //   });
    // },
    showGiphyPopular() {
      let limit = 15;
      let url = `${this.searchEndPoint}&api_key=ce336YkH2segK8ceZr3HI2Lt3YraZCho&q=${this.termPopular}&limit=${limit}`;
      fetch(url)
          .then(res => {return res.json();})
          .then(res => {this.stickerPopular = res.data;})
          .catch(err => console.log(err));
    },
    selected(id, title) {
      const first2WordsName = title.split(' ').slice(0, 2).join(' ');
      let selectedUrl = `https://media.giphy.com/media/${id}/giphy.gif`
      this.$router.push({ name: 'details', path: '/details', params: {selected: selectedUrl, id: id, selectedTitle: first2WordsName} }).catch(()=>{});
    },
    loadMore() {
      this.count = this.count + 10;
      fetch(`${this.searchEndPoint}&api_key=ce336YkH2segK8ceZr3HI2Lt3YraZCho&q=${this.termPopular}&offset=${this.count}&limit=10`)
          .then((res) => { return res.json();})
          .then((res) => { this.moreGifsArr = res.data;})
          .then(() => {
            this.moreGifsArr.forEach((item) => {
              let div = document.createElement('div');
              div.classList.add("gifcard");
              div.classList.add("stickers-card");
              div.onclick = () => {
                const first2WordsName = item.title.split(' ').slice(0, 2).join(' ');
                let selectedUrl = `https://media.giphy.com/media/${item.id}/giphy.gif`
                this.$router.push({ name: 'details', params: {selected: selectedUrl, id: item.id, selectedTitle: first2WordsName} }).catch(()=>{});
              }
              div.innerHTML = `
               <picture>
                <source type="image/webp" srcset="https://media3.giphy.com/media/${item.id}/giphy.webp">
                <img src="https://media.giphy.com/media/${item.id}/giphy.gif" alt="${item.title}">
              </picture>
            `;
              document.getElementById('loadmore-block').appendChild(div);
            })
          });
    }
  },
  mounted() {
    // this.showGiphyPopular();
  },
  beforeMount() {
    this.showGiphyPopular();
  }
}
</script>

<style lang="scss">
  .gifcard-wrapper {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 auto;
    width: 100%;
    .gifcard {
      flex: 1 0 auto;
      height: 200px;
      min-width: 200px;
      margin: 0 12px 12px 0; /* Some gutter */
      background-color: #121212;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;
      &.stickers-card {
        background:
            conic-gradient(rgba(0,0,0,0.10) 0deg, rgba(169,169,169, 0.07) 90deg,
                rgba(169,169,169, 0.07) 90deg, rgba(169,169,169, 0.07) 180deg,
                rgba(169,169,169, 0.10) 180deg,rgba(0,0,0,0.15) 270deg,
                rgba(169,169,169, 0.07) 270deg, rgba(169,169,169, 0.07) 360deg) 0 0/60px 60px round;
      }
    }
    @media screen and (max-width: 768px) {
      .gifcard {
        min-width: 50px;
        height: 120px;
      }
    }
  }
</style>
