<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card class="pa-4 mt-3 head-title-block">
          <div class="d-flex">
            <div class="icon-block py-2 mr-3">
              <v-img
                  src="../assets/trending-icon-1.svg"
                  max-height="32"
                  max-width="32"
              ></v-img>
            </div>
            <h2 class="title-block">Гифки на каждый день</h2>
          </div>
        </v-card>
      </v-col>
      <v-col cols="12" class="">
        <div class="gifcard-wrapper" id="loadmore-block">
          <div v-for="(item, i) in gifsTrend" :key="item.id + i + 'trends'" class="gifcard" @click.prevent="selected(item.id, item.title)">
            <picture>
              <source type="image/webp" :srcset="`https://media3.giphy.com/media/${item.id}/giphy.webp`">
              <img :src="`https://media.giphy.com/media/${item.id}/giphy.gif`" :alt="item.title">
            </picture>
          </div>
        </div>
      </v-col>
    </v-row>
    <div class="d-flex justify-center load-more-btn my-5">
      <v-btn @click="loadMore">Показать ещё</v-btn>
    </div>
  </v-container>
</template>

<script>
export default {
  props: ["gifs", "stickers", "query"],
  name: "TrendsPage",

  data: () => ({
    gifsTrend: [],
    loadMoreCount: 15,
    moreGifsArr: []
  }),

  methods: {
    // buildTrends(json) {
    //   this.gifsTrend = json.data.map(gif => gif.id).map(gifId => {
    //     return `https://media.giphy.com/media/${gifId}/giphy.gif`;
    //   });
    // },

    showTrend() {
      let limit = 15;
      let url = `https://api.giphy.com/v1/gifs/trending?api_key=ce336YkH2segK8ceZr3HI2Lt3YraZCho&limit=${limit}`;
      fetch(url)
          .then(res => {return res.json();})
          .then(res => {this.gifsTrend = res.data})
          .catch(err => console.log(err));
    },
    selected(id, title) {
      const first2WordsName = title.split(' ').slice(0, 2).join(' ');
      let selectedUrl = `https://media.giphy.com/media/${id}/giphy.gif`
      this.$router.push({ name: 'details', path: '/details', params: {selected: selectedUrl, id: id, selectedTitle: first2WordsName} }).catch(()=>{});
    },
    loadMore() {
      this.loadMoreCount = this.loadMoreCount + 10;
      fetch(`https://api.giphy.com/v1/gifs/trending?&api_key=ce336YkH2segK8ceZr3HI2Lt3YraZCho&offset=${this.loadMoreCount}&limit=10`)
          .then((res) => { return res.json();})
          .then((res) => { this.moreGifsArr = res.data;})
          .then(() => {
            this.moreGifsArr.forEach( (item) => {
              let div = document.createElement('div');
              div.classList.add("gifcard");
              div.onclick = () => {
                const first2WordsName = item.title.split(' ').slice(0, 2).join(' ');
                let selectedUrl = `https://media.giphy.com/media/${item.id}/giphy.gif`
                this.$router.push({ name: 'details', params: {selected: selectedUrl, id: item.id, selectedTitle: first2WordsName} }).catch(()=>{});
              }
              div.innerHTML = `
               <picture>
                <source type="image/webp" srcset="https://media3.giphy.com/media/${item.id}/giphy.webp">
                <img src="https://media.giphy.com/media/${item.id}/giphy.gif" alt="${item.title}">
              </picture>
            `;
              document.getElementById('loadmore-block').appendChild(div);
              // console.log(item)
            })
          });
    }
  },
  mounted() {
    this.showTrend();
  }
}
</script>

<style lang="scss">
  .head-title-block {
    @media screen and (max-width: 768px) {
      .title-block {
        display: flex;
        font-size: 20px;
        line-height: 1.75;
      }
    }
  }

  .gifcard-wrapper {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 auto;
    //margin-left: -10px;
    width: 100%;
    &:after {
      content: "";
      flex: 1 1 100%;
      max-width: 62%;
    }
    .gifcard {
      flex: 1 0 auto;
      height: 200px;
      min-width: 200px;
      margin: 0 12px 12px 0;
      background-color: #121212;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;
    }

    @media screen and (max-width: 768px) {
      .gifcard {
        min-width: 50px !important;
        height: 120px !important;
      }
    }
  }
</style>

