<template>
    <v-app id="inspire" :dark="true">
      <PageLoader />
      <v-app-bar
          app
          flat
          sticky
          id="dash-header"
      >
        <v-app-bar-nav-icon @click.prevent="drawer = !drawer"></v-app-bar-nav-icon>
        <router-link to="/" style="text-decoration: none" class="dynamic-link-text mr-lg-5">
          <div class="d-flex mb-0 align-center justify-center" style="text-decoration: none">
            <v-list-item-icon class="mx-0">
              <v-img
                  src="./assets/head-logo-final.svg"
                  max-height="42"
                  max-width="42"
              >
              </v-img>
            </v-list-item-icon>
            <h1 class="font-weight-black d-none d-md-block" style="font-size: 44px;">GIFS<span style="font-size: 16px; position: absolute; top: 8px; left: 190px;">.ru</span></h1>
          </div>
        </router-link>
        <v-spacer class="d-none d-sm-block"></v-spacer>
<!--        <v-responsive class="">-->
<!--          -->
<!--        </v-responsive>-->
        <HeadSearch v-on:doSearchRequest="makeQuery"></HeadSearch>
        <v-spacer class="d-none d-sm-block"></v-spacer>
        <!--        <v-btn-->
        <!--            color="#3c4ae7"-->
        <!--            class="ma-2 white&#45;&#45;text gradient-text-2"-->
        <!--            style="font-size: 0.75rem"-->
        <!--        >-->
        <!--          Создать-->
        <!--          <v-icon-->
        <!--              right-->
        <!--              dark-->
        <!--          >-->
        <!--            mdi-note-plus-outline-->
        <!--          </v-icon>-->
        <!--          <input-->
        <!--              class="d-none"-->
        <!--          >-->
        <!--        </v-btn>-->

        <!--  КНОПКА ЗАГРУЗКИ  -->
        <!--          <v-btn-->
        <!--              color="#8300be"-->
        <!--              class="ma-2 white&#45;&#45;text"-->
        <!--              :loading="isSelecting"-->
        <!--              @click="onButtonClick"-->
        <!--              style="font-size: 0.75rem"-->
        <!--          >-->
        <!--            Загрузить-->
        <!--            <v-icon-->
        <!--                right-->
        <!--                dark-->
        <!--            >-->
        <!--              mdi-cloud-upload-->
        <!--            </v-icon>-->
        <!--            <input-->
        <!--                ref="uploader"-->
        <!--                class="d-none"-->
        <!--                type="file"-->
        <!--                accept="image/*"-->
        <!--                @change="onFileChanged"-->
        <!--            >-->
        <!--          </v-btn>-->

        <template v-if="user.loggedIn">
          <v-menu
              bottom
              min-width="200px"
              rounded
              offset-y
          >
            <template v-slot:activator="{ on }">
              <v-btn
                  icon
                  x-large
                  v-on="on"
                  class="mr-lg-4"
              >
                <v-avatar
                    color="#3c4ae7"
                    size="34"
                >
                  <span class="white--text text-h6">{{ user.data.email.slice(0, 1) }}</span>
                </v-avatar>
              </v-btn>
            </template>
            <v-card>
              <v-list-item-content class="justify-center">
                <div class="mx-auto text-center">
                  <v-avatar
                      color="#3c4ae7"
                  >
                    <span class="white--text text-h5">{{  }}</span>
                  </v-avatar>
                  <h3 class="mt-3">{{ user.data.email.match(/^.+(?=@)/)[0] }}</h3>
                  <p class="text-caption mt-1">
                    {{ user.data.email }}
                  </p>
                  <v-divider class="my-2"></v-divider>
                  <div style="align-items: center; justify-content: center; " class="mb-4 flex flex-row-reverse">
                    <v-switch
                        v-model="$vuetify.theme.dark"
                        inset
                        persistent-hint
                        hide-details
                        color="white"
                        :label="`${checkColorScheme($vuetify.theme.dark)}`"
                        style="margin-left: 50px; flex-direction: row-reverse; font-size: 12px;"
                    ></v-switch>
                  </div>
                  <v-divider class="my-2"></v-divider>
                  <router-link to="/profile" style="text-decoration: none" class="dynamic-link-text mr-lg-5">
                    <v-btn
                        depressed
                        rounded
                        text
                        small
                        style="font-size: 0.75rem"
                    >
                      Редактировать
                    </v-btn>
                  </router-link>

                  <v-divider class="my-2"></v-divider>
                  <v-btn
                      depressed
                      rounded
                      text
                      small
                      style="font-size: 0.75rem"
                      @click="signOut" data-cy="logout"
                  >
                    Выйти
                  </v-btn>
                </div>
              </v-list-item-content>
            </v-card>
          </v-menu>

        </template>
        <template v-else>
          <v-btn
              class="ma-2 joinBtn"
              data-cy="joinBtn"
              @click.prevent="showJoinForm=true"
          ><span class="d-none d-md-block">Войти | РЕГИСТРАЦИЯ</span><v-icon class="d-block d-md-none">mdi-login</v-icon>
          </v-btn>
        </template>
        <!--        <v-btn-->
        <!--            v-for="link in links"-->
        <!--            :key="link"-->
        <!--            text-->
        <!--            style="font-size: 0.75rem"-->
        <!--        >-->
        <!--          {{ link }}-->
        <!--        </v-btn>-->

        <!--        <v-avatar-->
        <!--            class="ml-5 mr-0"-->
        <!--            color="grey darken-1"-->
        <!--            size="32"-->
        <!--        ></v-avatar>-->

<!--        <div class="d-block d-lg-none">-->
<!--          <HeadSearch class v-on:doSearchRequest="makeQuery"></HeadSearch>-->
<!--        </div>-->

      </v-app-bar>
      <v-navigation-drawer
          v-model="drawer"
          app
          id="dash-sidebar"
      >
        <v-divider></v-divider>

        <v-list
            dense
            nav
        >
          <v-list-item-group
              class="mb-1"
              color="blue"
          >
            <v-list-item
                v-for="item in items"
                :key="item.title"
                @click="$router.push({ name: item.route_to }).catch(()=>{})"
                link
                class="pl-5"
                style="min-height: 32px; background-color: transparent"
            >
              <v-list-item-icon class="mr-3">
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>

              <v-list-item-content color="teal" class="py-2">
                <v-list-item-title class="font-weight-regular">{{ item.title }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>

          <v-divider></v-divider>
          <v-list-group
              :value="false"
              prepend-icon=""
              class="mt-1"
              color="blue"
              v-model="sideBarCollapse2"
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title class="pl-3">СООБЩЕСТВА</v-list-item-title>
              </v-list-item-content>
            </template>
            <v-list-item
                v-for="([title, pic, community_query], i) in categories_sideBar"
                :key="i"
                link
                class="mt-1 pl-7"
                style="min-height: 30px"
                @click.prevent="community_route(title, pic, community_query)"
            >
              <v-list-item-icon class="mr-3">
                <v-img
                    :src="require(`./assets/sidebar/${pic}.png`)"
                    :lazy-src="require(`./assets/sidebar/min/${pic}-min.png`)"
                    class="img-fluid"
                    style="width: 20px; margin: 0; border-radius: 3px"
                >

                </v-img>
                <!--              <v-icon v-text="icon"></v-icon>-->
              </v-list-item-icon>
              <v-list-item-title class="font-weight-regular" style="font-size: 14px" v-text="title"></v-list-item-title>
            </v-list-item>

          </v-list-group>
          <v-divider class="mb-2"></v-divider>
          <v-list-item-group
              color="blue"
              class="mb-1"
          >
            <v-list-item
                link
                class="pl-5"
                style="min-height: 32px;"
            >
              <v-list-item-content color="teal" class="py-2">
                <v-list-item-title class="font-weight-regular" @click="showHelpPopup=true">ПОМОЩЬ</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-divider class="mb-2"></v-divider>
          </v-list-item-group>
          <div class="pa-0">
            <v-card
                flat
                tile
                class="grey--text text-center"
                style="background: transparent"
            >
              <v-card-text style="padding: 32px 0 4px">
                <v-btn
                    v-for="icon in fooicons"
                    :key="icon"
                    class="mx-2 grey--text"
                    icon
                >
                  <v-icon size="24px">
                    {{ icon }}
                  </v-icon>
                </v-btn>
              </v-card-text>
              <v-card-text style="padding: 8px 0">
              <span style="font-size: 12px;">
                <a class="grey--text" style="text-decoration: none" href="">Конфиденциальность /</a>
                <a class="grey--text" style="text-decoration: none" href=""> Условия /<br></a>
                <a class="grey--text" style="text-decoration: none" href=""> DMCA /</a>
                <a class="grey--text" style="text-decoration: none" href=""> Cookie</a>
              </span>
              </v-card-text>
              <v-card-text class="grey--text" style="padding: 8px 0">
                © {{ new Date().getFullYear() }} <strong>GIFS (<a class="grey--text" style="text-decoration: none" href="https://gifs.ru">gifs.ru</a>, <a class="grey--text" style="text-decoration: none" href="https://гифки.рф">гифки.рф</a>)</strong>
              </v-card-text>
            </v-card>

          </div>
        </v-list>

      </v-navigation-drawer>
      <v-main>
<!--        <keep-alive include='GifDetails'>-->
<!--          <router-view :gifs="gifs" :stickers="stickers" :query="query" v-slot="{ Component, route }" :key="$route.fullPath">-->
        <router-view v-slot="{ Component, route }" :key="$route.fullPath">
            <transition :name="route.meta.transition || 'fade'">
              <component :is="Component" />
            </transition>
          </router-view>
<!--        </keep-alive>-->
      </v-main>
      <RegForm v-model="showJoinForm"></RegForm>
      <HelpPage v-model="showHelpPopup"></HelpPage>
      <vue-cookie-accept-decline
          :ref="'cookiePopup'"
          :elementId="'cookiePopup'"
          :debug="false"
          :position="'bottom-right'"
          :disableDecline="false"
          :transitionName="'slideFromBottom'"
          @status="cookieStatus"
          @clickedAccept="cookieClickedAccept"
          @clickedDecline="cookieClickedDecline"
      >
        <!-- Optional -->
        <div slot="message">
          Продолжая пользоваться сайтом, я даю <a @click="showHelpPopup=true">согласие</a> на использование файлов cookie.
        </div>
        <!-- Optional -->
        <div slot="declineContent">
          ОТКЛОНИТЬ
        </div>
        <!-- Optional -->
        <div slot="acceptContent">
          ПРИНЯТЬ
        </div>
      </vue-cookie-accept-decline>
    </v-app>
</template>


<style>

</style>
<script>
import { mapGetters } from "vuex";
import firebase from "firebase";

import RegForm from './views/Join'
import HelpPage from './views/HelpPage';

import HeadSearch from './components/SearchComponent';
// import SearchResult from './views/SearchResult';
import PageLoader from './components/PageLoader'
export default {
  name: 'app',
  components:{ HeadSearch, RegForm, HelpPage, PageLoader },
  data: () => ({
    dialog: false,
    showLoader: false,
    gifs: [],
    gifsFromSearch: [],
    stickers: [],
    stickersFromSearch: [],
    query: '',
    isMobile: false,

    showJoinForm: false,
    showHelpPopup: false,

    selectedCommunity: '',
    selectedCommunityPic: '',
    selectedCommunityQuery: '',

    drawer: true,
    searchTerm: "",
    isSelecting: false,

    userprofile: {
      initials: 'JP',
      fullName: 'John Phelps',
      email: 'jn.phelps@doe.com',
    },
    sideBarCollapse2: 1,
    items: [
      { title: 'ГЛАВНАЯ', icon: 'mdi-home', route_to: 'dashboard' },
      { title: 'В ТРЕНДЕ', icon: 'mdi-trending-up', route_to: 'trends'},
      { title: 'ПОПУЛЯРНОЕ', icon: 'mdi-fire', route_to: 'popular'},
      { title: 'СТИКЕРЫ', icon: 'mdi-sticker-emoji', route_to: 'stickers'},
      // { title: 'ВИДЕОЛУПЫ', icon: 'mdi-sync' },
      // { title: 'ХУДОЖНИКИ', icon: 'mdi-auto-fix' },
    ],
    fooicons: [
      'mdi-facebook',
      'mdi-twitter',
      'mdi-linkedin',
      'mdi-instagram',
    ],
    categories_sideBar: [
      ['Авто и техника', 'auto-image', 'auto'],
      ['Аниме', 'anime-image', 'anime'],
      ['Блогеры', 'bloggers-image', 'bloggers'],
      ['Еда и кухня', 'food-image', 'eat'],
      ['Живые картинки', 'liveimage-image', 'live image'],
      ['Знаменитости', 'famous-image', 'celebrity'],
      ['Игры', 'games-image', 'gaming'],
      ['Искусство / Дизайн', 'design-image', 'art'],
      ['Кино и ТВ', 'cinema-image', 'cinema'],
      ['Красота и мода', 'beauty-image', 'beauty'],
      ['Мемы', 'mems-image', 'mems'],
      ['Музыка', 'music-image', 'music'],
      ['Мультфильмы', 'mult-image', 'Cartoons'],
      ['Мэшап', 'meshup-image', 'mashup'],
      ['Новости и политика', 'newspol-image', 'politics'],
      ['Природа и животные', 'nature-image', 'nature'],
      ['Путешествие', 'adventure-image', 'adventure'],
      ['События', 'events-image', 'events'],
      ['Спорт', 'sport-image', 'sport'],
      ['Танцы', 'dance-image', 'dance'],
      ['Технологии', 'technologies-image', 'technologies'],
      ['Юмор', 'humor-image', 'humor'],
    ],
    admins: [
      ['КАНАЛЫ', 'mdi-account-multiple-outline'],
      ['НАСТРОЙКИ', 'mdi-cog-outline'],
    ],
  }),
  computed: {
    // map `this.user` to `this.$store.getters.user`
    ...mapGetters({
      user: "user"
    })
  },
  methods: {
    async makeQuery(query){
      console.log(query);
      this.query = query;
      this.$router.push({name: 'result', path: '/result', params: {passQuery: this.query, id: this.query} }).catch(()=>{});
    },

    onButtonClick() {
      this.isSelecting = true
      window.addEventListener('focus', () => {
        this.isSelecting = false
      }, { once: true })

      this.$refs.uploader.click()
    },
    onFileChanged(e) {
      this.selectedFile = e.target.files[0]
      // do something
    },
    checkColorScheme(val) {
      if(val) return "Ночь"
      else return "День"
    },
    signOut() {
      firebase
          .auth()
          .signOut()
          .then(() => {
            this.$router.replace({
              name: "dashboard"
            });
          });
    },
    community_route(title, pic, community_query) {
      this.selectedCommunity = title
      this.selectedCommunityPic = pic
      this.selectedCommunityQuery = community_query
      // console.log(this.selectedCommunity)
      this.$router.push({ name: 'community', path: `/community/:id`, params: {id: this.selectedCommunityQuery, title: this.selectedCommunity, picture: this.selectedCommunityPic, sameGifs: this.selectedCommunityQuery  }}).catch(()=>{})
    },
    cookieStatus (status) {
      this.status = status
    },
    cookieClickedAccept () {
      this.status = 'accept'
    },
    cookieClickedDecline () {
      this.status = 'decline'
    },
  },
  created() {
    if (window.innerWidth < 768) {
      this.drawer = false
    }
    fetch('https://api.giphy.com/v1/gifs/trending?api_key=yBaPncwkPpItSTrjP46PbHBZ6xeWXX7z')
        .then((res) => { return res.json(); })
        .then((res) => { this.gifs = res.data; });
    fetch('https://api.giphy.com/v1/stickers/trending?api_key=yBaPncwkPpItSTrjP46PbHBZ6xeWXX7z')
        .then((res) => { return res.json(); })
        .then((res) => { this.stickers = res.data; });
    // setTimeout(()=>{
    //   this.loginAlert=false
    // },5000)
  },
  watch: {
  }
}
</script>

<style lang="scss">
  .join-popup {
    position: relative;
    background-color: #121212;
    /* if backdrop support: very transparent and blurred */
    //@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    //  background-color: transparent;
    //  -webkit-backdrop-filter: saturate(180%) blur(40px);
    //  backdrop-filter: saturate(180%) blur(40px);
    //}
  }
  .joinBtn {
    background: linear-gradient(310deg, #7d5fee 0%, #b72bff 33%, #ff2eb0 66%, #d7a039 100%);
    //background: linear-gradient(310deg, #7d5fee 0%, #b72bff 33%, #FE00FE 66%, #A444FE 100%);
  }

  #dash-sidebar {
    background: var(--v-blocks_darkwhite-base) !important;
    max-height: calc(100vh - 64px) !important;
    height: calc(100vh - 64px);
    margin-top: 64px;
    @media screen and (max-width: 768px) {
      margin-top: 56px;
    }

    .v-navigation-drawer__border {
      display: none;
    }
  }
  #cookiePopup {
    z-index: 99;
    font-family: "Roboto", sans-serif;
    text-align: left !important;
    padding: 0;
    margin-bottom: 15px;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 1.2;
    color: #222222;
    .cookie__floating__buttons {
      &__button--decline {
        color: #272727;
        &:hover {
          color: white;
          background: #272727;
        }
      }
    }
    a {
      color: #4caf50;
      text-decoration: underline;
    }
  }
</style>
